[2014-02-04 17:16] oliver-phet opened #1 "User feedback: New version of Balancing Act has 4 mystery objects. Previously was 8"
Joseph A Feb 3, 2014

As I got ready to use the Balancing Act simulation with my classes today, I discovered that there are now only 4 mystery objects. For several years there have been 8. I’m not sure why this was downgraded. It is disappointing. Anyone (such as me) who has a lab based on 8 mystery objects will be in for a surprise the next time they run the lab.

I thought I should let you know

[2014-02-06 01:58] #1 closed, assigned to nobody

[2014-02-24 22:22] phet-steele opened #2 "Incorrect scoring in game"
1. Select any level from the game screen
2. Get the first question wrong and click new game
3. Getting the first question right, on the first try, on any level will now give you one point instead of two
4. Starting a new game and getting the first question right will continue to only award one point until the second question is attempted

[2014-02-25 01:38] #2 closed, assigned to nobody

[2014-03-04 21:52] jbphet opened #3 "Code review"
This simulation is approaching the release candidate phase, and thus needs to be code reviewed.  @jonathanolson has graciously agreed to do the review, so this will be assigned to him.

[2014-03-05 02:47] jbphet opened #4 "Ground and sky disappear on IE11"
The game screen initially loads with the ground and sky background showing, but this is replaced by a white background as soon as the mouse is moved over the screen.  See screen shots.

![ba-game-background-missing](https://f.cloud.github.com/assets/3082831/2329133/825bf498-a410-11e3-962a-16e18d104f85.jpg)
![ba-game-background-missing-2](https://f.cloud.github.com/assets/3082831/2329135/873ad4ca-a

[2014-03-05 02:58] jbphet opened #5 "Long load times"
Current load time on iPad 2 is about 9 seconds, and an astounding 25 seconds on a Google Nexus 7.  That's a bit long, and some profiling and optimization should probably be done.

[2014-03-05 03:00] pixelzoom opened #6 "game level selection buttons have a subtle problem"
Test device: Mac Pro
Operating System: Mac OS 10.8.5
Browser: Safari, Chrome, Firefox

Problem description:

Each level selection button moves down-and-right a couple of pixels the first time that the mouse leaves the button.

Steps to reproduce:
1. Start the sim.
2. Go to 'Game'  screen.
3. Do not click on anything. Just move your mouse into and out of each level selection button.

Severity: not

[2014-03-06 05:43] jonathanolson opened #7 "Invalid self-removal in listeners"
There are a few examples of the following:

[code]

Since the listener is called with the direct invocation (i.e. listener( ... )), 'this' does not refer to the listener (in my debugger, it's actually an array).

We should either modify the listener call sites (in this case in ObservableArray) to use "listener.call( listener, ... )" so that the 'this' reference points to the listener, or refactor

[2014-03-06 05:51] jonathanolson opened #8 "Linting errors, one which causes exceptions during runtime"
Linting js/common/view/ImageMassNode.js ...ERROR
[L22:C16] W098: 'Rectangle' is defined but never used.
  var Rectangle = require( 'SCENERY/nodes/rectangle' );
Linting js/game/model/BalanceGameModel.js ...ERROR
[L113:C91] W033: Missing semicolon.
        this.bestScores.forEach( function( bestScoreProperty ) { bestScoreProperty.reset() } );
Linting js/game/model/BalanceGameModel.js ...ERROR
[L116:

[2014-03-06 21:08] #8 closed, assigned to nobody

[2014-03-06 23:56] jbphet opened #9 "Icons on home screen don't look very good on Firefox 27 and IE11"
The icons for the home screen are sized according to the recommendations in the Screen.js file (548x373), but look pretty lousy on the home screen in Firefox and IE.  I think the image scaling algorithms for these browsers just isn't as good as in Chrome.  Basically, the plank looks very aliased.  See screen shots.

![ba-home-screen-ff](https://f.cloud.github.com/assets/3082831/2352437/da16f96e-a5

[2014-03-07 21:01] #7 closed, assigned to nobody

[2014-03-12 00:41] #4 closed, assigned to nobody

[2014-03-21 20:28] pixelzoom opened #10 "LICENSE file missing from GitHub repo"

[2014-03-25 18:33] #3 closed, assigned to jonathanolson

[2014-03-25 18:37] #6 closed, assigned to jbphet

[2014-03-25 18:39] #10 closed, assigned to nobody

[2014-03-25 18:41] jbphet opened #11 "Reset on game tab doesn't reset state of sound and timer enabled setting"

[2014-03-25 18:46] #11 closed, assigned to nobody

[2014-03-25 22:12] jbphet opened #12 "Game clock runs really fast if user switches to another tab and then back"
This was done in Chrome 33.  To duplicate, start a game level, then switch to another Chrome tab, switch back several minutes later.  The clock runs very rapidly for a while, then seems to 'catch up' and resume running at normal speed.

[2014-03-25 23:48] jbphet opened #13 "Radio buttons hard to select on iPad"
The radio buttons that appear in the control area for the first two screens are a bit hard to select.  When showPointerAreas is enabled, they don't appear to have the extended pointer areas.

[2014-03-26 00:21] #13 closed, assigned to nobody

[2014-03-26 21:00] gruneich opened #14 "Impossible layering"
You can see from the image below that it is possible to get some layering which doesn't make sense. The woman I'm holding is in front of the girl and the board but behind the present.

Not a big deal, but seems strange.

![ba-impossible-layering](https://cloud.githubusercontent.com/assets/5183994/2530705/80668ce6-b529-11e3-8b55-7e2cc891b282.png)

[2014-03-26 22:00] gruneich opened #15 "iPad Balance Lab screen left arrow touch encroaches on the "Marks" radio button"
The touch area for the left arrow is too big and makes it difficult to select "Marks". If you touch on the word, it almost always activates the left arrow rather than the radio button.

[2014-03-27 17:13] oliver-phet opened #16 "Font "strobes" when plank is in motion"
Fonts forthe mass labels, ruler, and marks all seems to flutter/strobe when the plank is in motion. Not a critical issue.

I see the behavior in Chrome and Firefox. On all 3 screens. But do NOT see the issue in IE (version 11.0.9600.16521)

[2014-03-28 20:11] orejolaphet opened #17 ""PhET" T-Shirt on boy and girl are mirrored when the sit on the left side of the balance."
![screen shot 2014-03-28 at 2 09 20 pm](https://cloud.githubusercontent.com/assets/5631059/2554711/e777fbe0-b6b4-11e3-9ff7-251adc079a8b.png)

Notice the lettering for "TEhP" on the T-shirts of the boy and girl on the left. Not a significant issue.

[2014-04-04 21:59] jbphet opened #18 "Request to redesign kit selection node"
From @ariel-phet:
1. I attached a very rough sketch of changes to the carousel. I also attached a modern standard for navigating carousels (this is from google images). Do you want to take a shot at something like this? I know what I drew doesn't look great, but we talked about this sort of solution for Build a Molecule, and I was hoping we would leverage what we figured out there, but Build a Mol

[2014-04-07 21:48] jbphet opened #19 "Request for improved column control UI"
The design team has requested an improved control for turning the columns on and off using an A-B switch.

[2014-04-16 19:43] #15 closed, assigned to nobody

[2014-04-16 19:45] #18 closed, assigned to nobody

[2014-04-16 20:15] jbphet opened #20 "Touch areas are not being clipped"
The mass kit carousel is implemented by created a horizontal 'strip' of nodes and moving the strip back and forth through a clipping region.  It appears that when the carousel is scrolled one or more positions, the objects on the left portion of the horizontal strip (which are not visible) can be touched, thus creating masses from nowhere.  The following two screen shots illustrate this issue by s

[2014-04-16 22:03] #14 closed, assigned to nobody

[2014-04-16 23:02] #19 closed, assigned to nobody

[2014-04-26 00:14] jbphet opened #21 "Icons on nav bar don't look very good on Firefox and IE"
The icons on Firefox and IE look very aliased.  Screen shots below.

Firefox:
![ba-nav-bar-icons-issue](https://cloud.githubusercontent.com/assets/3082831/2806941/a4100bf2-ccd7-11e3-8189-323943b55e87.jpg)

IE11:
![ba-nav-bar-icons-issue-ie](https://cloud.githubusercontent.com/assets/3082831/2806945/ae0df10a-ccd7-11e3-963e-427782a41fc8.jpg)

[2014-04-28 21:49] #20 closed, assigned to nobody

[2014-04-28 21:53] jbphet opened #22 "Make the column on/off control larger"
This was requested in a recent design meeting.

[2014-05-01 18:16] jbphet opened #23 "Icons in column on/off control look a bit aliased"
Mentioned during 5/1/2014 status meeting, it was suggested that we try drawing them programmatically.

[2014-05-01 22:45] #23 closed, assigned to nobody

[2014-05-02 17:39] #22 closed, assigned to nobody

[2014-05-02 17:57] #5 closed, assigned to nobody

[2014-05-03 00:20] #17 closed, assigned to nobody

[2014-05-03 00:26] #21 closed, assigned to nobody

[2014-05-06 17:38] jbphet opened #24 "Incorporate the new reset, sound toggle, and timer toggle buttons"
New common buttons are now available, see https://github.com/phetsims/sun/issues/94.  The Reset All, Sound Toggle, and Timer Toggle buttons should be incorporated into Balancing Act.

[2014-05-10 01:55] #24 closed, assigned to nobody

[2014-05-10 02:00] jbphet opened #25 "Remove workarounds for better handling of rotating text"
Issue #16 reported that text appeared to "strobe" in Chrome and Firefox when rotating, which occurs quite a bit in this simulation.  Workaround have been implemented, and this ticket is to remind PhET to remove these workarounds if and when the browsers are improved such that rotating text is handled better.

[2014-05-14 19:52] orejolaphet opened #26 "Sound is delayed in "Game" for Firefox"
Test device: Mac Book13"
Operating System: osx 10.8
Browser: Firefox 29.0.1
Problem description:
When playing "Game" bell, spring, and trumpet sounds are delayed by a few seconds once question is answered or game is finished.

Troubleshooting information (do not edit):

Name: Balancing Act

URL: http://www.colorado.edu/physics/phet/dev/html/balancing-act/1.0.0-rc.1/balancing-act_en.html

Version:

[2014-05-14 20:33] orejolaphet opened #27 "Poor Scene Icon rendering Safari 6.0"
Icons are rendered poorly for Safari 6.0 on osx 10.8. Also poor rendering in Iframe as well.
![screen shot 2014-05-14 at 2 31 56 pm](https://cloud.githubusercontent.com/assets/5631059/2977046/f88cef32-dba6-11e3-80a6-c5d6fe9f6860.png)

[2014-05-15 23:43] #27 closed, assigned to nobody

[2014-05-16 17:38] orejolaphet opened #28 "Letter Labels for Mystery boxes in "Balance Lab" float outside carousel."
Version 1.0.0 for Firefox 29.0.1 on OSX 10.9 and Windows 8 the letters "A, B, C, D... etc" float outside of the carousel in the "Balance Lab" scene. This issue is not present in 1.0.0-rc.1.
![screen shot 2014-05-16 at 11 27 26 am](https://cloud.githubusercontent.com/assets/5631059/3000210/b4e95970-dd20-11e3-80e2-bf9bd8ab1a79.png)
![screen shot 2014-05-16 at 11 27 21 am](https://cloud.githubusercon

[2014-05-16 18:32] #28 closed, assigned to nobody

[2014-05-20 16:55] pixelzoom opened #29 "package.json is missing dependencies"
Compare balancing-act-config.js and package.json.
Looks like vegas and vibe are missing from package.json, which means they won't be checked by jshint.

[2014-05-23 03:55] samreid opened #30 "Rename BasicBalanceScreen to BasicBalanceScreenView"
I was confused because BasicBalanceScreen extends ScreenView instead of Screen.  Can it be renamed?

[2014-05-23 03:57] samreid opened #31 "Create a JS file for each screen"
I noticed balance-act-main is coded like so:

[code]

But I actually think it is nicer to put each Screen in its own file, as done in Beer's Law Lab:

[code]

I think this makes it easier to read & follow, and can be nicer if we ever want to reuse the screens in a different context.

[2014-05-23 19:42] #30 closed, assigned to jbphet

[2014-05-23 19:42] #31 closed, assigned to jbphet

[2014-05-23 22:33] #29 closed, assigned to jbphet

[2014-05-28 22:25] pixelzoom opened #32 "unnecessary test in GameIconNode"
This code:

[code]

can be replaced with:

[code]

[2014-05-29 22:34] #32 closed, assigned to jbphet

[2014-06-19 15:17] pixelzoom opened #33 "use vegas.GameTimer"
Since https://github.com/phetsims/joist/issues/116 has been fixed, this workaround in this sim should be replaced with vegas.GameTimer.

[2014-06-20 22:56] #33 closed, assigned to nobody

[2014-06-20 23:17] #12 closed, assigned to nobody

[2014-06-27 00:04] pixelzoom opened #34 "replace mvt with modelViewTransform"
See https://github.com/phetsims/graphing-lines/issues/15

[2014-06-27 00:55] pixelzoom opened #35 "replace explicit prototype assignment with inherit(Object,...)"
see phetsims/graphing-lines#13

[2014-07-29 20:48] pixelzoom opened #36 "website thumbnail is not checked in"
It should be assets/balancing-act-screenshot.png

[2014-08-11 15:52] amanda-phet opened #37 "carousel buttons very light"
The carousel buttons seem too light and should probably be updated to have more contrast or a more 3-dimensional button feel.

[2014-09-24 16:53] jbphet opened #38 "Add data collection in support of UCB study"
It has been requested that data collection be added to the Balancing Act simulation in support of a study of simulation use by a group out of the University of British Columbia.  Some of the details are TBD, and there will likely be a significant amount of iteration on this.  This issue will act as a place to track the changes that are made to the code in support of this effort.

[2014-10-20 19:15] pixelzoom opened #39 "replace LevelStartButtonDeprecated with LevelSelectionButton"
See https://github.com/phetsims/vegas/issues/36

[2015-01-23 02:32] samreid opened #40 "Cannot build a stable version"
I received this report:

- Neither vibe nor vegas are present in http://phet.colorado.edu/sims/html/balancing-act/latest/dependencies.json

- I can't compile the balancing-act, due to the following error in kite/js/Shape (I've included the previous commands to ensure that I'm in the right version):

/var/www/a/sims/kite$ git rev-parse HEAD
11bccf0b11ff6152ee5a182c0a612b32ca7234a3

/var/www/a/sims/

[2015-01-23 02:34] samreid commented on #40
@jbphet when you have time can you look into the above issue?  Can you reproduce the problem?  Can the problem be fixed?  Is there a systemic problem with our builds that will cause this kind of problem in the future?

[2015-01-26 23:38] jbphet commented on #40
I'm not clear on what's going on here.  From whom did you receive the report above?  What are the circumstances?  I just went into the master version of balancing-act and built it via grunt with no issues.  There are two branches for this repo, 1.0 and arch.  Is the problem with building one of them?

[2015-01-27 04:49] samreid commented on #40
The client is trying to follow these instructions to build a stable version of Balancing Act:
https://docs.google.com/document/d/1odXkliRagq0zuf1_NdOtQ2BrkC9hwlISnPi2y-dKdrk/edit#bookmark=id.4fiykhwy31vk

I thought you might know if there was a problem with dependencies.json (I have a faint memory that some dependencies.json files were manually edited???)

[2015-01-28 20:00] pixelzoom opened #41 "level-selection interface is messed up (scenery 0.2)"
Here's published version 1.0.1 with scenery 0.1:

![screenshot_191](https://cloud.githubusercontent.com/assets/3046552/5945654/73fbffa2-a6ed-11e4-89e3-e40d3bc2c650.png)

Here's 'master' with scenery 0.2. Everything is shifted left and smaller.

![screenshot_192](https://cloud.githubusercontent.com/assets/3046552/5945668/80691c7a-a6ed-11e4-8f5e-99d753ca5853.png)

[2015-01-28 20:04] pixelzoom commented on #41
Note that this was messed up before I started working on https://github.com/phetsims/vegas/issues/36 (replace LevelStartButtonDeprecated with LevelSelectionButton).

[2015-01-28 20:51] pixelzoom commented on #41
When we changed ScreenView.DEFAULT_LAYOUT_BOUNDS, we explicitly set layoutBounds for all sims that relied on the old value. I missed BalanceGameView, so that was the problem. Fixed. Closing.

[2015-01-28 20:51] #41 closed

[2015-02-02 19:40] jbphet opened #42 "Some dependencies missing for version 1.0.1"
Version 1.0.1 is missing the dependencies for vegas and vibe.  This issue was revealed during investigation of issue #40.  This appears to have been corrected on the master branch, but apparently never propagated to the RC branch.  The sim should probably be redeployed as version 1.0.2 (a maintenance release) once this issue is corrected.

[2015-02-02 19:43] jbphet commented on #40
I am not able to duplicate the precise error that the user is describing, but I am seeing a problem with the package.json file on the 1.0 branch of Balancing Act which does manifest as an inability to run the sim once built.  The package.json file is missing the dependencies on vegas and vibe, so the build process for version 1.0.1 didn't record the SHA values for these two libraries.  It doesn't

[2015-02-02 19:44] jbphet commented on #40
See #42 for tracking of the issue about missing dependencies.

[2015-02-02 19:55] jbphet commented on #42
Version 1.0.1 was release on May 16, 2014.  The SHAs from that date for the repos for which the dependencies were missing are:

vegas: be77758a944e62417ee6740c331252d207cac084
vibe: 6a72340d1944af36a3c782bc679e91e8bbc69617

I'll add these manually to the dependencies.json file on the 1.0 branch and regression test the sim.  In theory, these should be the same versions of these files that were depl

[2015-02-02 20:05] pixelzoom commented on #42
Sounds like we need something that checks package.json against config.js.  In code reviews, I frequently find that they do not match, due to a tendency to copy-paste, or to due to using simula-rasa without modifications.

[2015-02-02 20:16] jbphet commented on #42
The SHA for the vegas repo listed above has lint errors, which were fixed in version 2f22bc042abed1a01101c1340c98ca0e743aad08, so I'll need to use this for v1.0.2.

[2015-02-02 20:35] jbphet commented on #40
I fixed the dependency issues for vegas and vibe (see #42), published a new RC version (see http://www.colorado.edu/physics/phet/dev/html/balancing-act/1.0.2/) and then used the new version to run through the steps described in the dev document linked above.  It all worked fine.  I think we should have the QA team do some regression testing on v1.0.2, publish it, then have this user try again.

No

[2015-02-04 19:51] phet-steele opened #43 "fuzzMouse Behavior: Caught Objects Don't Stop"
In the Balancing Lab screen, normally releasing an object would start the flying animation back to the carousel. But if the object is caught in mid air before it can reach the carousel, the object continues to fly and never stops (fig. 1). I first noticed this while testing with "fuzzMouse", along with two other issues. This is the only issue I was able to reproduce, while the others may be humanl

[2015-02-04 20:57] phet-steele commented on #43
@oliver-phet discovered that occasionally after grabbing something mid-flight (fig. 1 issue) the user may have control over the object and be able to place an invisible one on the see-saw (fig. 3 issue). Clicking reset all was also found to reset everything correctly except that the little white dashes on the see-saw that light up when an object is hovered over them don't reset correctly. The sim

[2015-02-07 19:58] pixelzoom commented on #39
I did this. Closing.

[2015-02-07 19:58] #39 closed

[2015-02-10 22:09] jbphet commented on #40
QA team completed their testing, and the maintenance release has been published.  I've also done a little editing of the document that I believe the user was working from.  Assigning to @samreid to request that the user try again.

[2015-02-10 22:10] jbphet commented on #42
Regression testing complete, all looks good, going forward with maintenance release.  Closing this ticket.

[2015-02-10 22:10] #42 closed

[2015-02-23 21:58] jbphet commented on #40
Things are still not working for the user that reported this.  He is building on Linux, and I thought there could be an issue with this since none of our team has tried this and there have been other issues with Linux due to case sensitivity.  The user tried building on Mac, and hit the same problem.

[2015-02-23 22:00] jbphet commented on #40
The user suggested the following:

I tried this and, indeed, I'm getting the error now.  Perhaps we need to be more restrictive about the version of require that we specify in our package.json files.

[2015-02-23 22:07] pixelzoom commented on #40
Are you seeing this for balancing-act only, or other sims after deleting node_modules?

[2015-02-23 22:08] pixelzoom commented on #40
@jbphet Are you seeing this for balancing-act only, or other sims after deleting node_modules?

[2015-02-23 22:11] jbphet commented on #40
I tried removing the tilde from the requirejs version specification in the dependencies.json file, in other words going from:
[code]
to
[code]
then removing the node_modules directory and re-running ```npm install```.  This resolved the issue.   Yikes- this would seem to indicate that a minor release of the requirejs module broke this build.  I will discuss with the other PhET developers how to ta

[2015-02-23 22:15] pixelzoom commented on #40
I removed node_modules and then built 'master' with no problems. So I'm guessing that this problem is specific to the branch that you're trying to build out of.

[2015-02-23 22:29] pixelzoom commented on #40
A clue: I see svgPath.js mentioned in the error message. svgPath.js is mentioned in chipper.Gruntfile.js.

[2015-02-23 23:15] pixelzoom commented on #40
I reproduced the problem on Mac OS.  Here's the complete set of steps (which seems somewhat convoluted).

% pwd
/you_working_directory/balancing-act/
% git status
git status
On branch 1.0
Your branch is up-to-date with 'origin/1.0'.

nothing to commit, working directory clean
% rm -rf node_modules
% npm install
...
% git checkout 1.0
Switched to branch '1.0'
Your branch is up-to-date with 'origin/

[2015-02-23 23:18] pixelzoom commented on #40
The error refers to `balancing-act/js/parser/svgPath.js`, this file lives in KITE at `kite/parser/svgPath.js` (not under js/, btw).

[2015-02-23 23:22] pixelzoom commented on #40
The manner in which KITE is importing svgPath.js also looks suspicious, see Shape.js in 11bccf0:

In master, this is:

So I suspect that there was a build problem that was fixed in kite, and is still broken for balancing-act 1.0.

[2015-02-23 23:24] pixelzoom commented on #40
I see... In master, kite/parser/ was moved to kite/js/parser/.

[2015-02-23 23:34] pixelzoom commented on #40
Through bisection, I determined that this broke starting with requirejs 2.1.13. The release notes (http://requirejs.org/docs/download.html#releasenotes) say:

Version 2.1.12 regressed around ID normalization. 2.1.13 fixes that regression, and it is recommended that you do not use 2.1.12, but use 2.1.13 instead.

[2015-02-23 23:38] pixelzoom commented on #40
Here's the issue related to relative paths:

https://github.com/jrburke/requirejs/issues/1107

On the subject of relative paths (like the one causing problems here) it says:

This was supposed to be resolved in requirejs 2.1.12, but apparently wasn't addressed properly (or in a way that affected PhET sims) until 2.1.13.

[2015-02-23 23:42] pixelzoom commented on #40
The recommended fix in this case is to change balancing-act/package.json in the '1.0' branch, so that `devDependencies` indicates a specific version of requirejs.  Any version prior to 2.1.13 will work. So, for example:

[2015-02-23 23:51] pixelzoom commented on #40
kite.svgPath.js was relocated and relative path removed from its import in Shape.js in https://github.com/phetsims/kite/commit/c6a85af1513f2a9126a50dca4c03fb76e09a92fe on 5/28/2014. Any RC branches created before that date will be affected, and will likely fail with the same error when build with requirejs 2.1.13 or later.

[2015-02-24 00:00] jbphet commented on #40
I've replicated this issue on under-pressure, following the steps described in the document.  I chose this sim because it was released around the same time.

[2015-02-24 18:04] pixelzoom commented on #40
2/25/2015 dev meeting:

Consensus: Preferred fix is to change package.json (in branch) to use 1 specific version of requirejs (< 2.1.13). Don’t be proactive in fixing this, since we’ll be republishing everything for translations “sometime soon”.

[2015-03-08 17:44] pixelzoom opened #44 "Properties should have `Property` suffix"
See https://github.com/phetsims/beers-law-lab/issues/86

Examples of anti pattern (not exhaustive):

BasicBalanceScreenView: var rulersVisible = new Property( false );
MassKitSelectionNode: this.selectedKit = new Property( 0 );
BalanceGameView: var rulersVisible = new Property( false );
BalanceGameView : var positionMarkersVisible = new Property( false );

[2015-03-11 04:38] samreid commented on #40
Not sure why this was assigned to me.  @jbphet anything else to do here?

[2015-03-11 18:08] jbphet commented on #40
I did two things:
+ I changed the PhET Development Overview document that the customer was using to refer to the acid-base-solutions sim instead of balancing-act, since acid-base-solution doesn't have the problem with its release that balancing-act has (since it was released after the Kite library was changed).
+ I updated the package.json file on the 1.0 branch of balancing-act.  This will correc

[2015-03-11 18:29] jbphet commented on #40
I also emailed the user that originally reported the issue and let him know about the actions that we've taken.

[2015-03-12 18:06] jbphet commented on #40
This issue was discussed in the 3/12/2015 meeting and we decided to close it.  We'll deal with the issue of there being a handful of sims that will have problems with trying to build the published version on a case by case basis if and when it comes up.

[2015-03-12 22:42] jbphet commented on #40
One last thing before closing: At the same dev meeting as mentioned in the previous comment, we also decided to use Area Builder instead of Acid Base Solutions as the example for obtaining stable code.  The PhET Development Overview has been edited to reflect this, and I want through the instructions to verify that building the latest released version works, and it does.  Closing.

[2015-03-12 22:42] #40 closed

[2015-03-31 02:47] pixelzoom opened #45 "branch: arch"
I don't see any instances of 'together' or 'componentID' in balancing-act master.  So I'm guessing that perhaps the 'arch' branch is either something related to a specific study, or something vestigial that can be deleted.  @jbphet or @samreid can you please elaborate?

[2015-03-31 03:39] samreid commented on #45
AFAIK it has outdated arch support (arch.start and arch.end) but hasn't got full-blown together support (addComponent, etc).  May be good to review and see if any of the arch work is worth updating.

[2015-04-29 18:46] kelson42 opened #46 "The PNG images should be optimized"
Having smaller image files allows a faster loading and a better user experience.
It's possible to optimize the pictures without any quality loss.
I have tried with trimage on all PNG files and won ~25% of size/bandwidth.

[2015-04-29 19:24] ariel-phet commented on #46
@kelson42 - can you give a little more background as to how you are using this simulation? Have you made your own working copy? And can you elaborate on which platform you are seeing a suboptimal user experience?

[2015-04-29 19:45] kelson42 commented on #46
@ariel-phet I'm mostly interested to store Phets locally, that why I'm having a look pretty carefully to the storage usage. But, I want to serve it too, through a web serviice, and then of course everything should be done to keep pages small - so even users with low bandwidth can access the content in the best conditions.

[2015-04-29 21:47] samreid commented on #46
Just sleuthing around to get more context.  @kelson42's profile links to this project page http://www.kiwix.org/wiki/Main_Page which says:

[2015-05-26 17:31] orejolaphet opened #47 "Issue "?stringTest=double" covering objects"
Testing for issue https://github.com/phetsims/tasks/issues/245
Mystery Object Container covers part of balance.
![screen shot 2015-05-26 at 11 25 18 am](https://cloud.githubusercontent.com/assets/5631059/7818692/6bc5b51c-039a-11e5-94d7-d5b37f30587f.png)
"What Will Happen?" in game mode covers Position options.
![screen shot 2015-05-26 at 11 26 10 am](https://cloud.githubusercontent.com/assets/5631

[2015-05-27 15:38] phet-steele opened #48 "Name typo in credits"
What's written there now "Micheal Dubson". It's Michael.

[2015-05-27 17:25] jbphet commented on #48
Fixed, closing.

[2015-05-27 17:25] #48 closed

[2015-06-12 18:03] jonathanolson opened #49 "Regression in layout"
Found this before making strut changes (in https://github.com/phetsims/scenery/issues/436), so I'm not sure what caused it.

![balancing-act-regression](https://cloud.githubusercontent.com/assets/480878/8136695/2fbad728-10fb-11e5-9c7f-1055e7334632.PNG)

[2015-06-15 20:44] pixelzoom commented on #49
This is in balancing-act.

[2015-06-15 20:56] pixelzoom commented on #49
Fixed this in https://github.com/phetsims/sun/commit/cec7fc906bdb209ba0938760f2e60eb25a59912d.

One (both?) of these panels are apparently also adding their own strut, which can be removed. Assigning to @jbphet to take care of that.

[2015-06-15 21:28] jbphet commented on #49
This is fixed through common code changes (discussed with @pixelzoom) and changes to the sim code.  Closing.

[2015-06-15 21:28] #49 closed

[2015-06-16 21:48] arnabp opened #50 "Sky and ground are not infinitely long"
When the window is shrunk horizontally (or extended vertically), the sky and ground end.

![screen shot 2015-06-16 at 3 35 05 pm 2](https://cloud.githubusercontent.com/assets/8583364/8195315/171c50ba-143f-11e5-96da-d462d6b9b3a4.png)

[2015-07-14 21:06] pixelzoom opened #51 "invalid aspect ratio for screen icons in navbar"
Screen icons for the navbar must have the same aspect ratio as either Screen.NAVBAR_ICON_SIZE or Screen.HOME_SCREEN_ICON_SIZE. See https://github.com/phetsims/joist/issues/263#issuecomment-121305888.  This sim does not, and fails when assertions are enabled.

[2015-07-15 15:54] ariel-phet opened #52 "Consider updating PhET girl and other people"
@jbphet - when we go to redeploy this sim, we could have our graphic artist redo some of the people to be more consistent with our modern PhET girl. Really a question for you, if you have an attachment to the artwork, I am fine to leave as is.

[2015-07-21 18:23] samreid opened #53 "Licensing for old-television?"
In the license.txt it said: old-television.png source=Open Clip Art notes=Modified by jblanco but in the commit message for the AI file it says "generated by PhET".  Which is true?  I couldn't find a close enough match when scanning through Open Clip Art.

[2015-07-23 22:50] jbphet commented on #53
It was from Open Clip Art, I just modified it a lot, apparently enough that @samreid didn't recognize it.  The original can be found here: https://openclipart.org/detail/19995/antique-television.

I'm more than happy to create one from scratch if it helps with the licensing effort.  It would probably take me about 1/2 hr.

[2015-07-23 23:13] jbphet commented on #52
I'd love to see the artwork upgraded, please feel free to initiate that process.

[2015-07-24 02:21] ariel-phet commented on #52
@jbphet it seems there are some important specs for the art work for instance, pixel size (so that it can be nicely mipmapped), as well as things like when seated, the tic mark tends to align well with the posterior of each character. Can you list out any important specs in this issue so the artwork will be a pretty seamless replacement for you?

[2015-07-24 16:00] samreid commented on #53
We are under minimal encumbrances from using public domain images, so there is no requirement to redraw this artwork.  I verified this appears in license.json properly now, thanks!  Closing.

[2015-07-24 16:00] #53 closed

[2015-07-27 15:13] samreid opened #54 "Delete blue bucket"
https://github.com/phetsims/chipper/issues/189 reports that blue-bucket.png is unused.  Can we delete it and its related files?

* SmallBucket.js
* blue-bucket.png
* blue-bucket.ai

[2015-07-27 20:46] jbphet commented on #51
Fixed, closing.

[2015-07-27 20:46] #51 closed

[2015-07-27 23:30] jbphet commented on #54
The blue bucket was removed from the list of masses used in the mass deduction challenges a while back because its mass would necessitate the use of decimal values in the mass entry dialog, and the HTML5 version of this sim doesn't support entry of values with decimals.  I decided to try adding the blue bucket to the list of masses that can be used in tip-predication and balance challenges, and it

[2015-07-27 23:32] jbphet commented on #54
Issue addressed, closing.

[2015-07-27 23:32] #54 closed

[2015-07-27 23:39] jbphet commented on #45
This branch was created in support of a study done with some of our collaborators at UBC.  It should be kept around for a while, at least until support for the newer version of interoperability is added to this sim.

[2015-07-27 23:40] jbphet commented on #38
This effort can be considered complete, since as far as I know the data gathering phase of the study has been done.  If further work is needed, a new issue will be opened.  Closing.

[2015-07-27 23:40] #38 closed

[2015-07-27 23:44] jbphet opened #55 "can't enter new value on mass deduction challenges if wrong the first time"
A bug seems to have crept into the master version of this sim where the mass entry dialog used in the mass deduction challenges becomes unpickable after an incorrect answer, and the originally entered value can't be updated.  This issue doesn't exist on the current live version (v1.0.2), so it must be due to some relatively recent change.

[2015-07-29 12:27] samreid commented on #45
@jbphet has described the branch above.  I'm not planning to work on the branch at the moment, so I'm unassigning the issue.

[2015-08-06 15:37] jbphet commented on #36
Screenshot now exists, closing.

[2015-08-06 15:37] #36 closed

[2015-10-12 18:05] jbphet opened #56 "integrate upgraded artwork"
Improved artwork has been generated for the animated cartoon people that can be placed on the balance beam, see https://github.com/phetsims/tasks/issues/355.  This artwork is now to the point where it is ready to begin integrating into the simulation.

[2015-11-05 12:52] rafaelrib commented on #55
The entry values works with google chrome and IE, but don't works in Maxthon browser.
To quick solve: It works when I use the paramenter: &rootRender:canvas.
But the canvas mode is so defocused when the embed size is small.

Summary: The entry value box depends of browser render engine type. It is working with Trident render. It isn't working with Webkit render.

I think that it could be solve usi

[2015-11-25 18:15] pixelzoom opened #58 "use ScoreboardBar"
See https://github.com/phetsims/build-an-atom/issues/110

[2016-01-11 18:37] pixelzoom opened #59 "unused strings"
[code]

[2016-01-20 19:32] phet-steele opened #60 "?stringTest=double issues"
Alright @jbphet, here's some things happening with ?stringTest=Double:

Game screen instructions cover the right panel (right panel still usable):
![ba dubs3](https://cloud.githubusercontent.com/assets/5863899/12460267/2d01a902-bf70-11e5-93d5-b3c276e9685e.PNG)

The carousel covers the seesaw on the 2nd screen:
![ba dubs2](https://cloud.githubusercontent.com/assets/5863899/12460279/4602396c-bf70-11

[2016-01-21 17:27] orejolaphet opened #61 "Text overlaps on Safari with ?stringTest=double"
Test device: Personal mac
Operating System: OSX 10.11
Browser: Safari 9.0
Problem description: "Position" and its options text overlap and text in the PhET menu as well as about "about" information
Screenshots:
<img width="455" alt="screen shot 2016-01-21 at 10 19 27 am" src="https://cloud.githubusercontent.com/assets/5631059/12488558/63a9f3e2-c029-11e5-9796-26bc44a1fc84.png">
<img width="545" alt

[2016-01-22 19:24] brroberts1231 opened #62 "Problem with not being able to drag objects or click buttons after incorrect answer"
Test device: Dirac

Operating System: OS X 10.11.2

Browser: Safari, Chrome

Problem description: When in the game section, if you guess the wrong answer on one of the "What is the mass?" games, sometimes (not always) after you click try again, you will not be able to drag the weight, drag the slider, or click the arrow buttons, so you just have to start over or check the same wrong answer to move

[2016-01-22 19:25] BryceAG opened #63 "Game will show most recent score instead of high score"
Test device:
Bates, Disessa, Tycho

Operating System:
Windows 7, iOS 9.2, iOS 9.3 beta

Browser:
Chrome, Safari

Problem description:
If you play a level of the game and do worse than the previous time you played that level, it will show the more recent score instead of the high score like the other sims with games do.

Steps to reproduce:
Play a level and score at least one point, then play again

[2016-02-09 20:02] jbphet commented on #59
The unused strings have been removed, closing.

[2016-02-09 20:02] #59 closed

[2016-03-03 00:41] jbphet commented on #56
As part of this effort, I'm also going to use higher resolution images and import them as mipmaps so that the people will look better over a greater range of resolutions.

[2016-03-07 20:21] jbphet commented on #62
This is a duplicate of #55 - closing.

[2016-03-07 20:21] #62 closed

[2016-03-07 20:22] jbphet commented on #56
This has been done, and was shown at status meeting and essentially approved.  Closing.

[2016-03-07 20:22] #56 closed

[2016-03-07 20:26] jbphet commented on #52
The artwork has been upgraded, and in order to make it work I took the initial versions of the new cartoon people and modified them to set well on the balance.  See #56 for details.  Closing.

[2016-03-07 20:26] #52 closed

[2016-03-07 21:15] jbphet commented on #55
In order to fix this, I changed a line of code that used to set a layer's value to ```null``` to instead set it to ```true```.  The value of ```null``` was previously recommended by @jonathanolson as an optimization.  It must have worked at the time, because the currently published version of the sim doesn't exhibit the problem even though it contains this line of code.  My guess is that something

[2016-03-07 22:05] jbphet opened #64 "replace RasterizedTextNode with regular Text (if possible)"
A workaround exists in Balancing Act where text was rasterized so that it would rotate well, since at the time this sim was originally published there were issues with text rotation in Chrome and Firefox.  I just did a quick test of swapping ```RasterizedTextNodeout``` out for the regular ```Text``` node and it appears to work fine.  More testing is required, but it may be that the issues that mot

[2016-03-07 23:17] jbphet commented on #55
I talked with @jonathanolson over Skype, and he said that what I did here was a reasonable solution for now but it seems to indicate that there is an issue in Scenery.  He intends to investigate, and will change the code in this sim back to setting pickability to null if and when he fixes it.  From this sim's point of view, there's nothing left to be done for this issue.  Closing.

[2016-03-07 23:17] #55 closed

[2016-03-08 00:25] jbphet commented on #60
I fixed most, if not all, of the overlap issues in ce38902e3457728e4ae89ba7d467a06df29d87bf (but forgot to reference this issue in the commit).

[2016-03-08 00:26] jbphet commented on #47
Fixed most, if not all, of these issues in ce38902e3457728e4ae89ba7d467a06df29d87bf.

[2016-03-08 00:36] jbphet commented on #64
This is a duplicate of #25.  My bad - I'd forgotten that I'd already logged this.  Closing.

[2016-03-08 00:36] #64 closed

[2016-03-08 00:37] jbphet commented on #25
The main thing that needs to be done is to replace usages of RasterizedTextNode with regular Text, and to delete RasterizedTextNode.

[2016-03-09 16:44] phet-steele commented on #25
@jbphet there are some noticeable issues in FF and Chrome. The text on Chrome "swims" around while FF text strobes. The catch is that this really only happens when the see saw is rotating slowly. Fast rotating text makes these issues less discernible.

[2016-03-15 20:36] jbphet commented on #25
The fix looks good on some machines (my recent Dell, @jessegreenberg's recent Dell, @andrewadare's Mac) but looks bad on @phet-steele's somewhat older Lenovo Thinkpad.  In my opinion, the issues are still bad enough that I should revert to the rasterized text.

[2016-03-15 21:08] jbphet commented on #26
Just tested on Win 10 + Firefox 44.0.2, and there is no delay in the game sound.  Since no one has reported an issue on this for nearly two years, I'm closing the issue.

[2016-03-15 21:08] #26 closed

[2016-03-15 21:45] #34 closed

[2016-03-15 22:48] #44 closed

[2016-03-15 22:50] jbphet commented on #37
Assigning to @ariel-phet to see if he has some suggestions on how to improve the color scheme, since I'm working on this sim at the moment but @amanda-phet is unavailable.

[2016-03-15 23:27] jbphet commented on #37
Discussed with @ariel-phet, and we changed the button color and removed the stroke.  I'll assign to @amanda-phet to review in next release, but she is on leave, so if she doesn't respond I'll just close it.

[2016-03-15 23:27] jbphet commented on #50
This is true in other sims too, here's what it looks like in Forces and Motion Basics:

![famb-ground-and-sky](https://cloud.githubusercontent.com/assets/3082831/13793687/bb5b9c4e-eabd-11e5-928d-48b105b9d4d1.PNG)

[2016-03-15 23:28] jbphet commented on #50
Discussed with @ariel-phet and decided not to address this one.  Closing.

[2016-03-15 23:28] #50 closed

[2016-03-16 17:56] #35 closed

[2016-03-16 18:04] jbphet commented on #43
I tried to duplicate this while fixing issues in preparation for the 1.1 release (which is being done to add translatability), and was unable to make it happen.  This should be retested on the first 1.1 release candidate.

[2016-03-16 18:46] jbphet commented on #63
The game was designed this way, but I believe we've undergone some evolution on our thinking on this since the last publication of this sim.  Assigning to @ariel-phet to say whether the current behavior should be retained (sim shows most recent results on level selection buttons) or changed to where the highest score is shown on the buttons.

[2016-03-16 18:53] phet-steele commented on #61
This issue is this:https://github.com/phetsims/scenery/issues/469
It was decided not to spend time on that issue.

[2016-03-16 18:53] #61 closed

[2016-03-16 19:02] jbphet opened #65 "game level selection icons have no assets file"
There is no assets file for the game icons, and they need to be updated to use the new people.  I'll need to recreate them.

[2016-03-16 20:01] jbphet commented on #65
files created and updated artwork integrated, closing

[2016-03-16 20:01] #65 closed

[2016-03-16 21:46] jbphet opened #66 "unused strings for this sim in babel"
There are a bunch of translated string files in babel for this simulation, and within each there are a number of strings that are no longer used in the sim.  There are also a bunch of auto-ported strings that should be removed.

[2016-03-16 22:00] jbphet opened #67 "move new autoported strings into correct directory in babel"
It looks like a number of new translations were received on the Java version of this simulation since the original strings were ported.  These should be moved into the appropriate place in the babel repo.

[2016-03-16 22:03] jbphet commented on #67
Did this, and also processed these string to remove any strings that are no longer used, see #66.  Closing.

[2016-03-16 22:03] #67 closed

[2016-03-16 22:06] jbphet commented on #66
I wrote a script to remove the unused strings from the translations, and it worked out pretty well.  Seems like this would be generally useful, perhaps as a grunt task, e.g. ```grunt remove-unused-strings```, though it seems a little risky if that were to actually do the commit.  Maybe a chipper script would be better.  Marking for dev meeting to decide what, if anything, to do with this script.

[2016-03-16 22:34] jbphet commented on #63
I just checked Area Builder, and it also shows the most recent score, not the highest.

[2016-03-16 22:43] jbphet commented on #63
I just check Graphing Lines, and that shows highest score on level selection.  @phet-steele just checked Fraction Matcher, and that retains the high score as well.  This doesn't really seem to me like something that should vary from sim to sim.  @ariel-phet - we should make a call about what the PhET standard should be, high score or recent score, and the level selection buttons.

[2016-03-17 04:30] ariel-phet commented on #63
@phet-steele can you edit this list of sims with scored games with "stars" and level selection screens and note which paradigm they currently follow and then reassign to me

- **Area Builder** (retains last score)
- **Balancing Act** (retains last score)
- **Balancing Chemical Equations**
- **Build an Atom**
- **Fraction Matcher** (retains high score)
- **Graphing Lines** (retains high score)
- **

[2016-03-17 15:28] phet-steele commented on #63
@ariel-phet there you go, I added Arithmetic.

[2016-03-17 16:17] jbphet opened #68 "move the reset button"
After looking at v1.1.0-rc.1, @ariel-phet requested that the reset button be moved to the right such that the right edge aligns with the right edge of the control panels.

[2016-03-17 19:04] phet-steele commented on #43
@jbphet yep, still happens in 1.1.0-rc.1

[2016-03-17 19:24] jbphet commented on #66
Discussed in the 3/17/2016 meeting and it was decide to make this a grunt task.

[2016-03-18 17:30] ariel-phet commented on #63
This item would be good to discuss at status meeting and have a "codified" standard going forward.

1. As I recall the argument for retaining the high score was that is how many modern games work, however since we do not label the stars as "high score" or "best" this seems a bit unclear to the user.

2. For a classroom use I could see an advantage to always showing the most recent score, if you ar

[2016-03-18 18:15] brroberts1231 commented on #60
Text and carousel overlaps are fixed, but the problem with grabbing the desired object is still there, just to a lesser extent. Only happens when the objects are 2 marks apart rather than 6 as shown above, but it's still there. Tested on Win 7 chrome.
for phetsims/tasks#544

[2016-03-18 23:17] amanda-phet commented on #37
That button is certainly more obvious! :+1:

[2016-03-18 23:17] #37 closed

[2016-03-21 15:23] elisemorgan commented on #47
Resolved in https://github.com/phetsims/tasks/issues/544

[2016-03-21 15:26] elisemorgan commented on #47
@jbphet I can't close this issue, not sure what github changed

[2016-03-21 15:28] phet-steele commented on #47
@elisemorgan try it now! I added QA to this repo and I want to check I did it right.

[2016-03-21 15:32] elisemorgan opened #69 "stringTest=long"
Test device: Personal Mac

Operating System: OS X 10.10.5

Browser: Safari 9.0.3 (10601.4.4)

Problem description: Long strings are funky on the ruler

Steps to reproduce: Perform long string test

Severity: Minor

Screenshots:
![screen shot 2016-03-21 at 9 28 58 am](https://cloud.githubusercontent.com/assets/12610678/13923859/cdcc6096-ef47-11e5-9e9f-bad42d3dc496.jpg)

Troubleshooting information

[2016-03-21 15:37] elisemorgan commented on #47
Worked

[2016-03-21 15:37] #47 closed

[2016-03-21 15:40] jbphet commented on #60
Oh, right.  The grabbing issue is due to the text rasterization, and was fixed when I de-rasterized the text, but then we decided to revert that change (see https://github.com/phetsims/balancing-act/issues/25) so this grab problem came back.  I'm not sure whether anything can be done about this, but I'll investigate.

[2016-03-21 15:41] elisemorgan commented on #9
Resolved in https://github.com/phetsims/tasks/issues/544

[2016-03-21 15:41] #9 closed

[2016-03-21 20:47] jbphet commented on #68
The button has been moved, I'll make sure that someone verifies this on the next RC.

[2016-03-21 22:39] jbphet commented on #66
Unused strings have been removed, and a separate task has been logged for adding the script to the build tools, see https://github.com/phetsims/chipper/issues/453.  Closing.

[2016-03-21 22:39] #66 closed

[2016-03-29 21:15] jbphet commented on #60
After discussing with @ariel-phet I went ahead and made the text unpickable for the masses, which fixes the issue with grabbing the objects in odd places.

[2016-03-29 21:32] jbphet commented on #25
Reminder: If and when the rotating text is changed back to being a regular Scenery text node, make the text on the masses pickable.  It was made unpickable due to issues with grabbing the rasterized text, see #60.

[2016-03-29 21:35] jbphet commented on #69
Unfortunately, adding scaling to this text messes up its positioning on this node due to the workarounds added for rotating text.  Since the sim doesn't break down in this case, and since very long strings actually work well until they get *extremely* long (as in this test case), I've decided not to fix this one.  Closing.

[2016-03-29 21:35] #69 closed

[2016-03-30 16:14] jbphet commented on #63
This is the only remaining issue blocking a new RC for this sim, so I'm marking as high priority.  If we can't come to a consensus now, I can just publish using the current behavior, but I'd like for this to be a conscious decision.

[2016-03-31 17:01] ariel-phet commented on #63
At status meeting, @kathy-phet said that retaining most recent score should become our standard.

Reassigning to @jbphet (feel free to have @phet-steele make issues in other repos)

[2016-03-31 19:10] jbphet commented on #63
Closing, since we decided to standardize on the behavior currently implemented in this sim.

[2016-04-01 03:07] pixelzoom commented on #63
Reopening.

Several GitHub issues have been assigned to me to standardize this in other sims. So I'd like to add my 2 cents before making those changes.

Possible issues with showing the "recent score", instead of the "best score":

(1) There will be no record of what the student's highest score was on a level.

(2) There will be no way to know whether the student's current attempt at a level surp

[2016-04-01 03:13] pixelzoom commented on #63
Also worth pointing out is that the tester thought that showing "recent score" was a bug. That's likely due to the fact that showing "recent score" is atypical behavior for games.

[2016-04-01 03:22] pixelzoom commented on #63
vegas.LevelSelectionButton has an optional "best time" display. In all of the sims that I've been asked to change (BCE, RPAL, Graphing Lines), we made a decision to show best time.  But if we're not showing best score, then why are we showing best time?  And how does a player have any chance of beating their best time if it's going to be wiped out along with their best score?

[2016-04-01 03:25] pixelzoom commented on #63
Arithmetic claims to follow the "recent score" standard. But I see in the code (LevelSelectionNode, lines 102 & 103) that it shows best time when the timer is enabled.  If it's showing best time and recent score, then the time has nothing to do with the displayed score.  That's totally confusing, and probably a bug.

[2016-04-01 05:26] ariel-phet commented on #63
@pixelzoom lets skype about this sometime

[2016-04-06 00:31] pixelzoom commented on #63
@ariel-phet asked me to:
(1) create a more general issue at https://github.com/phetsims/vegas/issues/51
(2) note the Arithmetic issue at https://github.com/phetsims/arithmetic/issues/173
(3) close this issue

[2016-04-06 20:17] phet-steele commented on #60
@jbphet it's good!

[2016-04-06 20:17] #60 closed

[2016-04-06 20:17] phet-steele commented on #68
@jbphet fantastic!

[2016-04-06 20:17] #68 closed

[2016-04-06 22:33] phet-steele opened #70 "Check answer button with string "Next:Next""
@jbphet, the particular button on the game screen that says "Check", "Next", etc... does this when the string "Next:Next" is used:
![20160406_162848](https://cloud.githubusercontent.com/assets/5863899/14334922/d3decc9c-fc14-11e5-9ab4-37d9de8192ad.jpg)

This is happening on Tycho and Witten (iPad 2 iOS 9.3), and only when the string is explicitly this length. I don't mean "character length" where t

[2016-04-06 22:35] phet-steele commented on #70
Troubleshooting information (do not edit):
Name: Next:Next
URL: http://www.colorado.edu/physics/phet/dev/html/balancing-act/1.1.0-rc.2/balancing-act_en.html?stringTest=Next:Next
Version: 1.1.0-rc.2 2016-04-05 21:07:08 UTC
Features missing: fullscreen
User Agent: Mozilla/5.0 (iPad; CPU OS 9_3 like Mac OS X) AppleWebKit/601.1.46 (KHTML, like Gecko) Version/9.0 Mobile/13E233 Safari/601.1
Language: en

[2016-04-07 17:43] jbphet commented on #70
This seems like a Scenery issue.  We've already decided that it shouldn't block publication since it only happens on one platform and not all the time there.  I'd like @jonathanolson to have a quick look to see if he has any immediate ideas about it.  @jonathanolson - the transparent part it where the highlight gradient normally shows up.

[2016-04-07 18:04] jonathanolson commented on #70
No immediate thoughts. Does it happen with ?rootRenderer=canvas, or just with the default SVG?

[2016-04-07 18:47] phet-steele commented on #70
no issue with ?rootRenderer=canvas

[2016-04-08 22:42] jbphet opened #71 "timer should be disabled by default"
The timer is on by default as of v1.1.0.  We have standardized on having it off by default, so this should be fixed.

[2016-05-03 17:06] jbphet opened #72 "namespace"
This sim should be namespaced.

[2016-05-03 18:03] jbphet commented on #72
complete, closing

[2016-05-03 18:03] #72 closed

[2016-07-06 17:11] pixelzoom opened #73 "radius of "Reset All" button is duplicated in 2 places"
`radius: 20` duplicated at both calls to `new ResetAllButton`.  Noted while investigating https://github.com/phetsims/scenery-phet/issues/41.

[2016-08-17 21:07] samreid opened #74 "Random numbers should be reproducible"
From https://github.com/phetsims/phet-io/issues/548 the random numbers in this simulation should be reproducible.

[2016-08-17 21:09] samreid commented on #74
Fixed above, @jbphet can you make sure this work is complete and correct?

[2016-08-23 18:34] jbphet commented on #74
The changes look good, and I tested by running through two full levels on the sim's game screen and looking at the first challenge on two of them, and everything worked fine.  'Tis all good, closing.

[2016-08-23 18:34] #74 closed

[2016-08-25 22:44] pixelzoom opened #75 "sim relies on align:'right' default for Panels"
Related to https://github.com/phetsims/sun/issues/252, this sim relies on the old default of `align:'right'` for Panels.  Below are the stack traces for occurrences that need to be checked. These are the occurrences noted when loading the sim in requirejs mode. If the sim creates Panels dynamically, you should do further checking with fuzzMouse.

[code]

[2016-08-26 14:23] pixelzoom commented on #75
None of the above call sites use the `minWidth` option, so their behavior will be unaffected.  Closing.

[2016-08-26 14:23] #75 closed

[2016-08-29 19:23] pixelzoom opened #76 "adjust touchArea options for HSlider thumb"
In https://github.com/phetsims/sun/issues/254, the touchArea defaults for HSlider thumb were changed so that they default to pixels, not a percentage of the thumb size.  Sims that use HSlider's `thumbSize` option will therefore need to also specify `thumbTouchAreaXDilation` and `thumbTouchAreaYDilation`.

[2016-08-30 17:53] jbphet commented on #76
The touch area for the slider used in MassValueEntryNode have been adjusted to match that of the currently live sim, closing.

[2016-08-30 17:53] #76 closed

[2016-09-27 02:39] ariel-phet opened #77 "Screenshot shows "adapted from PhET brand" not PhET brand"
The screenshot currently on the website shows the "adapted from PhET" brand, not our normal logo.

This oversight should be fixed in a maintenance release.

[2016-09-27 22:52] ariel-phet commented on #77
Feel free to delegate to @aadish since I believe he knows the maintenance release process now.

[2016-09-29 21:11] jbphet commented on #77
Fixed, now looks like this on the sim page:

![ba-screenshot](https://cloud.githubusercontent.com/assets/3082831/18972560/e63f498a-8656-11e6-9751-2f17906d97be.PNG)

Closing.

[2016-09-29 21:11] #77 closed

[2016-11-18 17:03] pixelzoom commented on #58
This came up in https://github.com/phetsims/chipper/issues/515#issuecomment-261584244:

[2016-11-18 17:04] pixelzoom commented on #58
This looks pretty easy to do, probably just requires an OK from the design team, since it will change the look slightly.

[2016-11-18 17:20] pixelzoom commented on #58
Here's the change... BalanceView line 182, replace `ScoreboardPanel instantiation` with:

[code]

Looks like this (with `?dev` to show the screen bounds)

![screenshot_74](https://cloud.githubusercontent.com/assets/3046552/20439401/8a3f645a-ad78-11e6-99de-2d21a4043c9d.png)
:

Compared to `ScoreboardPanel` in published version (1.1.5):

![screenshot_75](https://cloud.githubusercontent.com/assets/30

[2016-11-18 17:22] pixelzoom commented on #58
Credits in About dialog indicate that lead designers were "Kathy Perkins, John Blanco, Ariel Paul".  @kathy-phet @jbphet @ariel-phet May I make this change?  I moves the sim to PhET's modern scoreboard, and allows us to delete the deprecated (old) scoreboard.

[2016-11-18 17:46] jbphet commented on #58
It looks okay to me, though I might try to make it a little less tall (i.e. reduce the yMargin value).  If I don't hear any objections from @ariel-phet or @kathy-phet by Monday 11/21/2016, I'll test it out, possibly tweak it a bit, and close this issue.

[2016-11-18 17:51] pixelzoom commented on #58
@jbphet Since this is the last usage of ScoreboardPanel, can you also please remove ScoreboardPanel from vegas?

[2016-11-18 17:57] jbphet commented on #58
Yes, will do.

[2016-11-18 18:05] ariel-phet commented on #58
@pixelzoom @jbphet in most of the usages that I am aware of for ScoreboardPanel, we have been putting it at the top of the sim. and seeing it in context, I think that might also look/work better in this case.

If that is an easy change, can we try that and I can look at it on master?

[2016-11-30 19:45] pixelzoom commented on #58
@jbphet Since this doesn't seem to be high on your priority list, do you mind if I do it? So that we can continue to chip away at deleting deprecated code...

[2016-11-30 19:56] ariel-phet commented on #58
@pixelzoom you have my permission to go ahead

[2016-12-01 16:47] jbphet commented on #58
I'm fine with it.

[2016-12-06 22:49] pixelzoom commented on #58
@jbphet @ariel-phet for your review:
http://www.colorado.edu/physics/phet/dev/html/balancing-act/1.2.0-dev.1/balancing-act_en.html

I replaced ScoreboardPanel with ScoreboardBar, and located it at the top of the screen. See screenshot below.

@jbphet: The model-view transform was modified so that the origin moved down 42 pixels, the height of the ScoreboardBar.  Right aligning the scoreboard's "St

[2016-12-06 23:47] ariel-phet commented on #58
@pixelzoom I think just two tweaks (which I believer are simple

Overall, I think the ScoreboardBar works well here, and definitely give some consistency with our other games.

Tweaks:
1. I feel like the blue of the ScoreboardBar should be a little darker jsut to add some more contrast with the sky (it is probably fine as is, so perhaps try darkening a bit, a shade or two), I will probably trust y

[2016-12-06 23:49] ariel-phet commented on #58
@pixelzoom  Oh...and something happened to the word "position" in both the game screen and other screens in this version, the published version has a larger font.

[2016-12-06 23:56] pixelzoom commented on #58
I didn't touch the font for 'Position', but it did seem odd to me.

[2016-12-06 23:57] pixelzoom commented on #58
Note that the 'Position" font is unchanged from the screenshots in https://github.com/phetsims/balancing-act/issues/58#issuecomment-261588735, taken before I worked on this.

[2016-12-06 23:58] ariel-phet commented on #58
@pixelzoom not pointing fingers, but if implementing this change lets also fix the font.

[2016-12-06 23:59] pixelzoom opened #78 "font for 'Position' is wrong"
Noted in https://github.com/phetsims/balancing-act/issues/58#issuecomment-265311019 by @ariel-phet. Font for 'Position' is wrong, it got smaller at some point.

In master @c183b471a4c8b713fb1e1ea96bb2019c9061a964:

![screenshot_235](https://cloud.githubusercontent.com/assets/3046552/20949146/1eb920ac-bbd5-11e6-8806-ffd926bae18f.png)

In published 1.1.6:

![screenshot_236](https://cloud.githubuserc

[2016-12-07 00:00] pixelzoom commented on #58
Tracking 'Position' font in its own issue, https://github.com/phetsims/balancing-act/issues/78.

[2016-12-07 00:10] pixelzoom opened #79 "require statements violate PhET coding conventions"
Noted while working on https://github.com/phetsims/balancing-act/issues/78.  This sim mixes require statements for modules and strings.  E.g. in MassCreatorNode:

[code]

Per PhET coding style, module and string should be separated, like this:

[code]

This anti-pattern is used throughout this sim.

[2016-12-07 00:11] pixelzoom commented on #79
Related anti-pattern, in MysteryMass (e.g. line 20):

[code]

`require` statements are supposed to appear at the top of the file, not inlined.

[2016-12-07 00:17] pixelzoom commented on #78
Not sure how this every worked in a published version, because it's been broken since @jbphet's initial commit on 12/31/13.

Here's the offending code:

[code]

Instead of passing options to Text, you were passing a font.  Fixed in above commit.

[2016-12-07 00:21] ariel-phet commented on #58
Pulled master, changes to positioning and color look good

[2016-12-07 00:24] pixelzoom commented on #78
@ariel-phet Please verify in http://www.colorado.edu/physics/phet/dev/html/balancing-act/1.2.0-dev.2/balancing-act_en.html

[2016-12-07 00:24] pixelzoom commented on #58
Dev version is http://www.colorado.edu/physics/phet/dev/html/balancing-act/1.2.0-dev.2/balancing-act_en.html

[2016-12-07 00:24] pixelzoom commented on #58
Screenshot:

![screenshot_237](https://cloud.githubusercontent.com/assets/3046552/20949825/df1b5088-bbd8-11e6-884c-b80f5421705a.png)

[2016-12-07 00:25] pixelzoom commented on #58
@ariel-phet Feel free to close this unless there's more to do.

[2016-12-07 02:02] ariel-phet commented on #78
Looks good, closing

[2016-12-07 02:02] #78 closed

[2016-12-07 02:05] ariel-phet commented on #58
Looks good, closing

[2016-12-07 02:05] #58 closed

[2016-12-07 17:31] ariel-phet opened #80 "Reduce size of radio buttons"
Our modern convention is to have the size of the radio button match the size of the first letter of the label. For instance
![radio button](https://cloud.githubusercontent.com/assets/4051174/20978967/25f0fe60-bc68-11e6-917b-ea7b99b0a748.PNG)

The radio buttons on all screens are a bit oversized, they would be good to reduce to match convention. Not a high priority, but we are making a few tweaks t

[2016-12-08 22:11] jbphet commented on #80
Fixed, closing.

[2016-12-08 22:11] #80 closed

[2017-03-21 17:44] pixelzoom commented on #63
Reopening, related to https://github.com/phetsims/graphing-lines/issues/61.

@jbphet If you're showing recent scores, then does the model have `{Property.<number>[]} bestScore`?   At line 285 of BalanceGameModel, you're simply setting the level's best score to the most recent score:

[code]

And you're also passing one of the Properties from `bestScore` to each level-selection button.

So it looks

[2017-04-04 18:12] pixelzoom commented on #63
This sim also seems to be tracking "best time", see screenshot below.    If you're showing recent score, why you showing best time? That sure seems confusing - is it intentional?

![screenshot_322](https://cloud.githubusercontent.com/assets/3046552/24671769/f2580ccc-192f-11e7-8e60-4d2aa5bacea1.png)

[2017-07-10 17:06] jbphet opened #81 "deprecate PropertySet"
This sim uses PropertySet, which has been deprecated, see https://github.com/phetsims/axon/issues/102.

[2017-07-10 19:36] jbphet commented on #81
Done, closing.

[2017-07-10 19:36] #81 closed

[2017-09-29 17:30] ariel-phet opened #82 "User reported odd bug with characters "appearing out of nowhere""
@phet-steele see this tweet https://twitter.com/mevr_verstappen/status/913816774981939200

Not sure if this is reproducible or not, sounds like on iOS10 still. Not sure if this is something odd related to the app or what, but I have never seen such behavior.

[2017-09-29 18:29] phet-steele commented on #82
@ariel-phet please see #43. Specifically the first post and this sentence in https://github.com/phetsims/balancing-act/issues/43#issuecomment-72937339:

Once this is triggered, placing a new object on the beam will cause the invisible objects to fly back (but only visually). You can tell in the video that they have invisible objects since the presented situation is unphysical otherwise (they have

[2017-09-29 21:10] ariel-phet commented on #43
Looks like this was reported "in the wild"

https://twitter.com/mevr_verstappen/status/913816774981939200

[2017-09-29 21:10] ariel-phet commented on #82
Closing since likely a duplicate issue

[2017-09-29 21:10] #82 closed

[2018-04-04 16:38] ariel-phet commented on #63
Removing assignee until sim is revisited

[2018-06-08 17:04] arouinfar opened #83 "Create Sim Primer"
- [x] Draft script - 6/12/18
- [x] Record rough version for script verification - 7/17/18
- [x] Review script verification draft, and adjust script as necessary - 7/18/18
<s> Record another draft </s>
<s> Review 2nd draft </s>
- [x] Produce primer and upload
- [x] Caption primer

[2018-06-08 17:20] arouinfar opened #84 "Include mass label in click/touch area"
In working on #83, I noticed that the 5 kg brick was a bit hard to grab. I found myself clicking on the mass string above the brick, which was unsuccessful. The click area is limited to the brick itself, but the touch area has been dilated a bit.

![image](https://user-images.githubusercontent.com/8419308/41170802-2c743542-6b0b-11e8-87d1-b2e7f0736af0.png)

I think the UX could be improved by expan

[2018-06-08 18:02] ariel-phet commented on #84
@arouinfar yes, that would be worthwhile.

[2018-06-13 20:02] arouinfar commented on #83
@CWilson4960 the Balancing Act script is now ready for recording.

[2018-07-06 17:31] pixelzoom opened #85 "change model to use 1-based level numbering"
In https://github.com/phetsims/vegas/issues/73 and https://github.com/phetsims/vegas/issues/75, the consensus was to make vegas use 1-based level numbering.   And that 1-based level numbering in the model may be advantageous for PhET-iO, but should be evaluated on a sim-by-sim basis.

Making the requested change for FiniteStatusBar proved to be complicated.  It has option `levelProperty`, which is

[2018-07-09 20:56] jbphet commented on #85
The solution that @pixelzoom implemented seems fine to me, and I don't think the sim should be changed to use 1-based indexing for the levels, since JavaScript indexes arrays starting from zero.  If `FiniteStatusBar` required human-readable level values when I originally implemented this, I believe I would have used exactly this approach (i.e. a derived property).  Bottom line: Looks good to me, c

[2018-07-09 21:02] pixelzoom commented on #85
@jbphet The reason for considering 1-based numbering in the model was motivated by PhET-iO.  But if you're convinced that won't be needed by the PhET-iO data stream, that's fine.

[2018-07-10 15:29] jbphet commented on #85
Ah, okay.  Not a question for me then.  Reopening and assigning to @samreid to answer whether we need to change the game to use 1-based indexing.  I would certainly prefer not to, but we gotta do what we gotta do.

[2018-07-16 00:33] samreid commented on #85
This question will be easiest to answer when we are instrumenting the simulation for PhET-iO.

[2018-07-20 21:09] CWilson4960 commented on #83
@arouinfar Balancing Act is uploaded to vimeo and has been captioned. Ready for review and uploading to the PhET website.
https://vimeo.com/280992581

[2018-07-20 22:13] arouinfar commented on #83
Primer has been is live on the PhET site, thanks @CWilson4960!

[2018-07-20 22:13] #83 closed

[2018-10-04 16:05] pixelzoom opened #86 "CT: reentry detected"
Looks like there's a Property somewhere in this sim that needs to be `reentrant: false`.  This happens with rare frequency in CT:

balancing-act : fuzz : require.js-canvas : run
Uncaught Error: Assertion failed: reentry detected, value=23, oldValue=22.650000000000034
Error: Assertion failed: reentry detected, value=23, oldValue=22.650000000000034
    at window.assertions.assertFunction (https://ba

[2018-10-16 15:20] KatieWoe commented on #86
CT had been looking fairly clear, but this error popped up again.
[code]

[2018-11-07 18:32] pixelzoom commented on #86
Still recurring intermittently as of 11/7/18.

[2018-11-07 19:41] pixelzoom commented on #85
Instead of changing the model to use 1-based numbering, consider instrumenting the DerivedProperty that is passed to FiniteStatusBar, it is 1-based.    See line 193 of BalanceGameView:

[code]

[2018-12-07 17:42] jbphet commented on #86
There have been 20 runs on continuous test with no failures since this change, and it was happening fairly often before.  Below is a screenshot that shows two failed runs prior to the fix and 20 successful runs after.  I think it's safe to say that this is fixed, closing.

![image](https://user-images.githubusercontent.com/3082831/49663690-b0596400-fa0c-11e8-853e-dc3d93017988.png)

[2018-12-07 17:42] #86 closed

[2019-04-17 22:14] KatieWoe opened #87 "Usability on small screens review"
Per @kathy-phet's request in https://github.com/phetsims/QA/issues/295 I am making issues in each published sim repo detailing the pointer areas and usability of sims on phone sized screens.  Done on an iPhone 7 iOS 12 device.

Potential Difficulties Noticed:
* Pointer Areas of bricks in tool box appear even when not in tool box.  Clicking/dragging them does not seem to do anything

Screenshots:
!

[2019-04-17 22:16] arouinfar commented on #87
Thanks @KatieWoe.

This looks similar to the carousel in CCK, see https://github.com/phetsims/circuit-construction-kit-dc/issues/178. @jbphet can you look into this?

[2019-05-09 17:52] pixelzoom opened #88 "bad 'label' field in items passed to VerticalAquaRadioButtonGroup"
In PositionIndicatorControlPanel.js:

[code]

According to the doc and implementation, the items passed to `VerticalAquaRadioButtonGroup` constructor have no `label` field.  And I could find no evidence in GitHub history that there ever was a `label` field.

No `@author` on the file, but looks like @jbphet.

EDIT: Updated above code to reflect changes for phetsims/sun#510.

[2019-05-15 21:52] jbphet commented on #88
Removed unneeded labels, added author attribution.  Runs fine without these.  Closing.

[2019-05-15 21:52] #88 closed

[2019-06-26 19:37] SaurabhTotey commented on #87
Looking at the code, it looks like the container used in this simulation is a KitSelectionNode common-code component. Similarly to Carousel, it looks like KitSelectionNode uses clip areas. As such, I believe this issue is almost exactly the same as https://github.com/phetsims/circuit-construction-kit-dc/issues/178. The brick stacks are getting clipped out, but their pointer areas are still getting

[2019-06-26 19:49] KatieWoe commented on #87
Agreed

[2019-06-26 19:49] #87 closed

[2019-07-30 22:26] arouinfar opened #89 "User suggestion: allow objects to stack on one another"
At AAPT a teacher requested the ability to stack objects on top of one another. This would add some flexibility to the simulation, expanding the ways that one could create a balanced situation.

There would be a few design challenges in accommodating this request, but nothing we couldn't overcome.

* Mass labels would become obscured, and would need to be relocated.
![image](https://user-images.gi

[2019-12-13 16:17] KatieWoe commented on #43
Reported in the wild again. This time in an email in phethelp:
![image](https://user-images.githubusercontent.com/41024075/70814748-5e6abd00-1d89-11ea-861b-5c84fe656591.png)

[2019-12-13 21:40] ariel-phet opened #90 "Add option for force values"
A user wrote to phethelp:

I replied

[2019-12-13 21:41] ariel-phet commented on #90
@arouinfar curious on your thoughts here -- since we will have several people volunteering with the project coming up, doing some minor improvements to this sim might be some nice bite size chunks of work, and this seems like it would be a fairly simple change (see my thoughts above)

[2019-12-17 19:01] jbphet commented on #43
Since it's been seen a couple of times by our users, I decided to take the time to investigate and fix.  The problem is that it's possible to grab the objects with a touch swipe while they are animating back to the carousel, which causes a number of problems, such as setting up another animation on the same object when it is released again.  I've added code to set the node's `pickable` attribute t

[2019-12-18 16:10] KatieWoe opened #91 "Small game icons with long strings"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
Found during https://github.com/phetsims/QA/issues/462. Very minor issue. Occurs in the published version.
The icons on the game screen get very small when strings are long

**Visuals**
![smallpictures](https://user-images.githubusercontent.com/41024075/71102728-3064ee80-2176-11ea-8cf4-4f6f9d9a8a25.png)

Tr

[2019-12-18 17:00] KatieWoe opened #92 "Overlap of long strings on ruler"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
Found during https://github.com/phetsims/QA/issues/462. Very minor issue. Occurs in published version.
When strings are long, they overlap on the ruler method of looking at position.

**Visuals**
![overlappingruler](https://user-images.githubusercontent.com/41024075/71106825-33171200-217d-11ea-9a18-37d1a10a

[2019-12-18 17:33] jbphet commented on #92
This was found during a spot check of an RC that is intended to address a problem with touch dragging, see https://github.com/phetsims/balancing-act/issues/43.  As @KatieWoe points out above, this is present in the published version.  It's never been reported as a problem, so I'm going to unassign, and we should plan on addressing this the next time this sim is release off of master.

[2019-12-18 17:34] jbphet commented on #91
This was found during a spot check of an RC that is intended to address a problem with touch dragging, see #43. As @KatieWoe points out above, this is present in the published version. It's never been reported as a problem, so I'm going to unassign, and we should plan on addressing this the next time this sim is release off of master.

[2019-12-18 18:30] KatieWoe opened #93 "Position Measurement setting is carried over between levels and is not reset"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Firefox
**Problem description**
For https://github.com/phetsims/QA/issues/462. In the published version as well.
This bug pertains to the game screen. If you change the method of measuring position to ruler or marks in one level, it changes in the other levels as well. If you reset the game screen the measuring position method is not res

[2019-12-18 18:33] jbphet commented on #93
Unassigning, will address on next release off of master.

[2019-12-18 19:08] KatieWoe commented on #92
Another instance of strings being too long:
![toolong](https://user-images.githubusercontent.com/41024075/71115443-200d3d80-218f-11ea-8271-cb0a7d58423e.png)

[2019-12-18 20:17] KatieWoe opened #94 "Possible Memory Leak issue"
For https://github.com/phetsims/QA/issues/462
I did a quick memory test and found evidence of a memory leak as well as errors in the console. Similar results occurred in the published version.
![memory](https://user-images.githubusercontent.com/41024075/71119993-aaa66a80-2198-11ea-8379-2ae64c01fcf5.png)
![errors](https://user-images.githubusercontent.com/41024075/71119995-ad08c480-2198-11ea-926a-2

[2019-12-18 21:38] jbphet commented on #94
Should be addressed the next time this sim is released from master.

[2020-01-09 20:17] arouinfar commented on #90
I think the goal of adding a weight readout would be to better facilitate the calculation of the torque. While I don't think there's currently a significant barrier to calculating torque, I can understand why some teachers may want this feature. While displaying the weight would be a straightforward change for a developer, it's less clear how we would do this in the design.

If we want to think of

[2020-01-13 22:41] KatieWoe opened #95 "Sitting in mid-air"
**Test device**
Dell
**Operating System**
Win 10 (touch)
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/462. Found in the same sort of manner as https://github.com/phetsims/balancing-act/issues/43, but much less harmful as it can be fixed by clicking on the bugged object and the sim does not need to be refreshed. It can still look very odd. Requires multitouch

[2020-01-14 16:07] KatieWoe commented on #95
What happens when done where it goes back to the box:
![doubledrop](https://user-images.githubusercontent.com/41024075/72360498-46020100-36ad-11ea-9936-42e19270d871.gif)
Flashing seems to happen more when screen recorder isn't on.

[2020-01-17 19:44] samreid opened #96 "Instrument for PhET-iO"
# How to Instrument a PhET Simulation for PhET-iO

## Before instrumenting
- [x] Create a "PhET-iO Instrumentation" issue in the simulation repository.  Copy this checklist to the issue
description (top issue comment) for tracking. Link back to this checklist via https://github.com/phetsims/phet-io/blob/a711264f34eb152dd379447ce5523f61057d59a8/doc/how-to-instrument-a-phet-simulation-for-phet-io.md

[2020-01-17 20:13] jbphet commented on #95
I think my next steps to address this will be to try using event forwarding and `DragListener` instead of `SimpleDragHandler`.  Neither of these were available when the sim was originally written, and they probably handle multi-touch situations better than the older approaches.

[2020-01-17 20:40] samreid commented on #96
Some requested features:

- [ ] Remove “People” from the simulated object box.
- [ ]  Limit the weight options of the bricks to 2kg, 10kg and 20kg.
- [ ] It should say "setup" and "test"
- [ ] When in "test" cannot move objects
- [ ] Record log data of student actions
- [ ] Have mystery boxes with the weights that are different from the weights of all the bricks.

[2020-01-17 20:54] samreid opened #97 "KitSelectionNode should be deleted and Carousel should be used instead"
KitSelectionNode was moved to scenery-phet, but is only used by balancing act.  It seems like Carousel should be used instead.  For https://github.com/phetsims/balancing-act/issues/96

@jbphet does that sound like it will work to you?  Any special features of KitSelectionNode that we will need to be careful to keep?

[2020-01-18 04:49] samreid commented on #79
Fixed in the preceding commits, it was straightforward but I'd be happy if @pixelzoom want to code review spot check.

[2020-01-18 04:52] samreid opened #98 "Convert to ES6"
Discovered during #96, this sim should be brought forward to ES6

[2020-01-18 06:12] samreid commented on #97
In order to accomplish #96, I switched to use Carousel instead of KitSelectionNode.  Since this was the only usage of KitSelectionNode, I also deleted it and its no-longer-used components. This totaled around 400 lines of code we will no longer need to maintain or instrument for PhET-iO.  Unfortunately, the layouts are not exactly the same and will require fine-tuning, but that may not need to occ

[2020-01-18 15:20] samreid commented on #97
@ariel-phet can you please recommend a designer to look at the new usage of Carousel in Balancing Act, and recommend any design changes? It looks like this now:

![image](https://user-images.githubusercontent.com/679486/72666026-6abae900-39cb-11ea-8da0-d735c1e13913.png)

[2020-01-20 16:34] jbphet commented on #97
@samreid asked:

Yes.  I believe all of this work pre-dated the existence of the common-code carousel, which is why it was like this.

Not that I'm immediately aware of.  I think the thing that you noted above about changing the UI is what kept us from adopting it earlier.  Now that we have a motive, which is that it's easier for phet-io to use the more standard carousel, I'm fine with the changeo

[2020-01-20 17:37] samreid opened #99 "Show mass identity/name in the phet-io message"
For https://github.com/phetsims/balancing-act/issues/96

@kathy-phet said:

[2020-01-20 17:40] samreid opened #100 "Will the upcoming study need the high frequency data stream?"
From #96, @kathy-phet said:

For the long-term instrumentation, it seems like the plank angle should be instrumented.  I agree that this study would not need it, but maybe the way to achieve it is to continue to use phetioEmitHighFrequencyEvents=false

@kathy-phet does that sound OK to you?

[2020-01-20 17:45] samreid opened #101 "abswitch and onoffswitch have odd names/nesting"
From #96, @kathy-phet pointed out:

[2020-01-20 17:46] samreid opened #102 "First 2 screens break when setting SINGLE_COLUMN via studio"
From #96 @kathy-phet said:

[2020-01-20 17:49] samreid commented on #102
Since this feature is powered by EnumerationIO and we have no support for taking a subset of enumeration valid values (and no plans to support that), maybe a reasonable alternative in this case would be to set this Property to be read only.  We have previously agreed that when there is an in-simulation control for a feature, it is not important/valuable to duplicate that control in studio.

[2020-01-20 17:54] samreid commented on #102
I marked columnStateProperty as phetioReadOnly, and the user is no longer able to select a bad value from studio, while still being able to control the Property from the sim.  @kathy-phet is this a reasonable short-term and/or long-term solution?

[2020-01-20 18:21] samreid commented on #100
@kathy-phet do you think the study will want to record visual playbacks?  If so, they will need the high-frequency data stream.

[2020-01-20 18:38] kathy-phet commented on #99
@samreid - Tomorrow will definitely not include data collection, so I don't think this is a "by tomorrow" sort of question. Logging is a week away - at a minimum - and could be more depending on how the testing of the logging goes this week.

[2020-01-20 18:41] kathy-phet commented on #102
I think this is reasonable. But, if you want to toggle the state from the API - e.g. a smart computer program - does that mean it would not be possible to do so? (If that is the case, I think just leaving it as is would be better).

[2020-01-21 01:58] chrisklus commented on #99
I went ahead and tried out @samreid's suggestion of implementing PhetioGroups for the brick stacks and mystery masses.

It looks nice in the data stream:

[code]

However, it was difficult and not pretty to get this working. Most of the trouble I ran into was because I was trying to make the conversion for just these two types (many more "mass" types are used in the sim). I think it will be a proj

[2020-01-21 15:19] samreid commented on #102
Thanks @kathy-phet, your comment reminded me we have another facility for this case called `phetioStudioControl` where we merely want to omit the studio control, but without marking a property entirely read-only.  We should try that next.

[2020-01-21 18:50] pixelzoom commented on #79
Changes a few occurrences of "// imports" to "// modules" in the above commit.  Otherwise 👍.  Closing.

[2020-01-21 18:50] #79 closed

[2020-01-21 18:57] pixelzoom opened #103 "sim uses a copy of RulerNode"
While reviewing #79, I came across this TODO in `RulerNodeRasterizedText`:

[code]

#16 is closed, but these "workarounds" are still in place.  Using a "copy" like this will be a problem for PhET-iO instrumentation and (eventually) a11y.   It also doesn't fix the problem or allow other sims to benefit from the fix.

Assuming that "common code" is referring to `SCENERY_PHET/RulerNode`....  If this

[2020-01-22 07:17] ariel-phet commented on #103
@samreid I believe you will be doing some balancing act instrumentation, if this issue can be dealt with as part of that effort, it seems appropriate considering @pixelzoom comment above regarding iO implications.

[2020-01-23 07:18] ariel-phet commented on #97
@samreid I think I can be that designer since I worked on balancing act extensively when it was produced.

A few things I think we need to tweak:

1. If we keep the current layout, the carousel buttons do need to have more of the original appearance IMO, right now they feel like that are "blocking" the user from dragging the objects into the play area.

2. Generally our carousels have been used pu

[2020-01-23 15:00] samreid commented on #97
Can we please get feedback from @jbphet (lead developer of Balancing Act) and @pixelzoom (lead developer of Carousel) on the proposed ideas?

[2020-01-23 16:00] pixelzoom commented on #97
KitSelectionNode does indeed predate Carousel, see https://github.com/phetsims/sun/issues/166. That's also the issue where Carousel was designed, if you're interested in design history.

There doesn't seem to be any question that moving to Carousel is appropriate, especially in light of PhET-iO and a11y instrumentation.

I haven't been involved in the design or implementation of this sim, so I wil

[2020-01-23 16:10] pixelzoom commented on #97
Based on this issue and phetsims/sun#541, it seems like a design meeting specific to Carousel is needed.

[2020-01-23 18:12] samreid commented on #97
Today we agreed a good solution for now would be to change the look of the buttons:

[code]

![image](https://user-images.githubusercontent.com/679486/73011291-30898700-3dd1-11ea-8281-876aea662dba.png)

[2020-01-23 18:16] pixelzoom commented on #97
To clarify the above patch...  We did not decide to make this change in Carousel.  BAA will pass in options `baseColor: null` and `stroke: null` for its Carousel instance.

[2020-01-24 23:10] samreid commented on #96
From today's meeting, this is just supposed to be a basic instrumentation with as-needed features, not a fully designed published 1.0 version at this time.

[2020-01-27 17:17] samreid opened #104 "Data stream for imminent study"
As part of https://github.com/phetsims/balancing-act/issues/96, we would like to make sure the data stream captures the data we want, and that it can communicate with metacog.

The client reported:

[2020-01-27 17:22] samreid commented on #104
Test is indicated in the data stream via `NO_COLUMNS`

[code]

and setup is indicated via `DOUBLE_COLUMNS`

[code]

[2020-01-28 01:59] samreid commented on #104
Today @chrisklus and I made a recording with metacog, and tested that the data could be retrieved and played back visually.  We used:

widget_id=balancing-act-1.2.0-dev.5-stanford
key=7bf039d83e74600bd4588b69f89d021c

To Do:

- [ ] create an issue for this problem: https://github.com/phetsims/phet-io/blob/master/doc/metacog.md seem stale, refers to committing files to phet-io-website instead of ad

[2020-01-28 01:59] samreid commented on #104
Today @chrisklus and I made a recording with metacog, and tested that the data could be retrieved and played back visually.  We used:

widget_id=balancing-act-1.2.0-dev.5-stanford

To Do:

- [ ] create an issue for this problem: https://github.com/phetsims/phet-io/blob/master/doc/metacog.md seem stale, refers to committing files to phet-io-website instead of adding entries to the file.
- [ ] decid

[2020-01-28 02:26] samreid opened #105 "How should the upcoming phet-io version be published?"
From slack:

Sam Reid:house_with_garden:  12:26 PM
We have a short timeline for publishing a metacog-enabled PhET-iO wrapper for our client Stanford.  We have been testing a dev version, but a lot of our tooling only supports production versions.  We won’t have time to fully design and implement all of the PhET-iO functionality, say, to bring balancing act to a feature-complete 1.0.  We are trying

[2020-01-28 02:32] samreid commented on #104
I'll consider this feasibility test complete.  Next steps will be to publish a "production" version according to  https://github.com/phetsims/balancing-act/issues/105 and to un-password protect it.

[2020-01-28 02:32] #104 closed

[2020-01-28 02:35] samreid opened #106 "Open public version for data-driven clients"
After publication, we will need to open a public version for clients.  On hold until we have a version we want to use.

[2020-01-28 03:04] samreid commented on #45
I skimmed through the branch, and it seems master is an improvement in terms of phet-io instrumentation, deleting branch and closing.

[2020-01-28 03:06] samreid commented on #73
At the moment, the game and non-game screens have different radii.  22 vs 20.  @pixelzoom OK to close?

[2020-01-28 03:14] samreid commented on #97
I added the lightweight look, @ariel-phet can you please review on phettest?  Anything else for this issue other than scheduling a carousel design meeting as described in https://github.com/phetsims/balancing-act/issues/97#issuecomment-577746292 ?

[2020-01-28 03:27] zepumph commented on #105
To condense another ~20 minutes of slack conversation, it seems like we think that it is best to try to keep these "one off like" client specific sim requests in the RC/production pipeline as much as possible. This helps with maintainability, and ensuring that testing client facing product never diminishes.

The general consensus seemed to be that creating one-offs for these wasn't ideal. This is

[2020-01-28 03:42] pixelzoom commented on #73
Please clarify. In master, it looks like they are all `radius: 20`:

[code]

[2020-01-28 03:43] samreid commented on #73
My apologies, I was looking at a stale branch as part of #45, I'm glad I checked with you.  I'll factor this out.

[2020-01-28 03:44] pixelzoom commented on #73
Also recommended to remove `radius: 20` in both places.  In another issue (which I can't locate right now), the default was universally set in ResetAllButton.js, `RESET_ALL_BUTTON_RADIUS = 20.8`.  This is the value that should be used by all sims that are using default layoutBounds.

[2020-01-28 03:45] pixelzoom commented on #73
Ah, the issue is https://github.com/phetsims/scenery-phet/issues/41, identified in the first comment of this issue.

[2020-01-28 03:45] samreid commented on #73
Layout bounds for BA are currently:

[code]

Compare to ScreenView defaults:

[code]

[2020-01-28 03:46] pixelzoom commented on #73
Does this sim have an issue to convert to DEFAULT_LAYOUT_BOUNDS?  I recall that we decided to do that for all sims. @ariel-phet ?

[2020-01-28 04:10] samreid commented on #99
@chrisklus your changes look great.  I made a few improvements in this patch.

<details>

[code]

</details>

I think this is the right direction to move in, and I'm ready to commit, but I wanted to hear from @kathy-phet whether this initial version should have object IDs.

[2020-01-28 04:25] ariel-phet commented on #97
@samreid if possible it would be better to center the bricks and the mystery objects more in the white space of the carousel page, but not critical for the current iO release.

[2020-01-29 01:20] ariel-phet commented on #90
@arouinfar I think the more I see this, it seems that in terms of design and the age group we are targeting, this feature is just likely to add clutter and confusion. Younger students are going to have no idea what Newtons are, so I think the right place to put labels would be on the force vectors, but the really gets incredibly cluttered.

I also think if we going to go into "weight mode" we woul

[2020-01-29 17:32] samreid commented on #99
We reviewed the current status with @kathy-phet, and we discussed the following 3 options:

* (a) Move forward without phetioID per elements
* (b) Move forward with the patch above, which lumps all brick stacks into 1 group and all presents into another group
* (c) Split up separate groups for the 5kg brick, 10kg brick, present A, etc.

We decided to go with the (b) because it helps disambiguate w

[2020-01-29 17:42] samreid commented on #101
In discussion with @kathy-phet, we think it is best to provide the specific contextualized names for the columnSwitch (instead of abSwitch), but we will keep `aInputListener` as it is, because there is already sufficient context around the model Property change, and we don't want to provide too flexible a schema for sun components.

[2020-01-29 17:52] samreid commented on #101
In the future, we may want to change the onOffSwitch to be better named. But that shouldn't be done before RC1.

[2020-01-29 17:53] samreid commented on #105
@kathy-phet asks: if we publish the phet-io brand without publishing the phet brand version, will that work ok?  This won't disrupt the main site version at all?

[2020-01-29 18:41] chrisklus opened #107 "Improve copy pattern for masses"
@samreid and I found this line while working on https://github.com/phetsims/balancing-act/issues/96, and thought it was a little too clever and should be improved:

[code]

We left a TODO that tags this issue.

[2020-01-29 19:01] chrisklus commented on #99
When this sim gets fully instrumented we'll proceed with (c) from https://github.com/phetsims/balancing-act/issues/99#issuecomment-579870712, but are going to close for now since this is a limited instrumentation.

[2020-01-29 19:14] #102 closed

[2020-01-29 19:19] chrisklus commented on #101
For now, we renamed abSwitch to columnSwitch. Closing - remaining work related to this discussion over in https://github.com/phetsims/sun/issues/559.

[2020-01-29 19:19] #101 closed

[2020-01-29 23:11] samreid commented on #105
We consulted with the dev team and the agreement was: it is safe to publish RC or production versions the phet-io brand without publishing the phet brand.  We created an RC version here:  https://github.com/phetsims/QA/issues/473

Closing.

[2020-01-29 23:11] #105 closed

[2020-01-30 03:02] samreid opened #108 "Post-publication steps"
Add the correct login page:

And make public: #106

[2020-01-30 06:43] ariel-phet commented on #73
It is certainly best to convert old sims to the new layout bounds when we revisit them. I don't think we necessarily decided to perform this work preemptively, but it would be appropriate for this simulation now that it is getting revisited.

[2020-01-30 14:09] samreid opened #109 "Convert to the default layout bounds"
From https://github.com/phetsims/balancing-act/issues/73

@pixelzoom said:

@ariel-phet replied:

[2020-01-30 14:11] samreid commented on #73
I factored out the reset all button radius and opened a new issue for fixing the layout bounds.  Closing.

[2020-01-30 14:11] #73 closed

[2020-01-30 14:59] samreid commented on #97
I used nested `AlignGroup` to better center the bricks and mystery objects, please review on phettest at your convenience.

[2020-01-30 15:03] samreid commented on #103
This did not fall under the scope of the the current PhET-iO instrumentation goals, self-unassigning for now.

[2020-01-30 15:32] pixelzoom opened #110 "use default radius for ResetAllButton"
When #109 has been done (convert to DEFAULT_LAYOUT_BOUNDS), the ResetAllButton radius needs to be set to the default (which is supposed to be used across all sims).  That means deleting BASharedConstants. RESET_ALL_BUTTON_RADIUS.

[2020-01-30 15:34] pixelzoom commented on #110
See https://github.com/phetsims/scenery-phet/issues/41 for ResetAllButton standardization history.

[2020-01-30 15:37] pixelzoom commented on #109
I stand corrected.  From https://github.com/phetsims/joist/issues/542#issuecomment-455300368:

And https://github.com/phetsims/joist/issues/542#issuecomment-456452635:

[2020-01-30 18:29] ariel-phet commented on #97
@samreid looking good to me, closing

[2020-01-30 18:29] #97 closed

[2020-01-30 18:31] samreid commented on #110
#109 is not in the purview of #96, unassigning for now.

[2020-01-31 23:23] KatieWoe opened #111 "Playback fails"
For https://github.com/phetsims/QA/issues/473. On Win 10 Chrome.
I made a recording of the sim and when it was put in the playback wrapper it did not load past the loading bar. Here is the console:
![playbackfail](https://user-images.githubusercontent.com/41024075/73581295-ebef9280-4445-11ea-83a6-400a93df8ec4.png)

[2020-02-02 00:27] lmulhall-phet opened #112 "State wrapper not working: "objects passed over the frame must have a message and a stack""
For https://github.com/phetsims/QA/issues/473. The state is not transmitted to the smaller simulation once per second. On macOS + Chrome, if you place a brick on the board, you'll get the following error.

[code]

[2020-02-03 01:25] samreid commented on #96
Decreasing priority now that there is an RC.

[2020-02-03 21:16] KatieWoe commented on #111
https://phet-dev.colorado.edu/html/balancing-act/1.2.0-rc.1/phet-io/wrappers/record/?console&stanford&screens=2

[2020-02-03 21:16] KatieWoe commented on #111
https://phet-dev.colorado.edu/html/balancing-act/1.2.0-rc.1/phet-io/wrappers/playback/?stanford&screens=2

[2020-02-03 21:28] zepumph commented on #111
This error is because of the query parameters for the playback wrapper are getting passed through to the recorded sim link, thus duplicating them.

The playback wrapper shouldn't be doing this. I'll see what the trouble is.

[2020-02-03 21:37] zepumph commented on #111
@chrisklus can you please review this patch. The playback wrapper is old code, and this is untested, but it looks like it was manually tacking on top level search and passing it to the sim. We have never had a use case for that in the playback wrapper as far as I remember, and it would be nice to fix it. Can you review my patch (which isn't passing lint right now), and let me know what you think?

[2020-02-03 22:30] KatieWoe commented on #95
Occurs in https://github.com/phetsims/QA/issues/473.

[2020-02-03 23:15] KatieWoe opened #113 "Caught objects don't stop 2.0"
For https://github.com/phetsims/QA/issues/473. Can't determine if it applies to https://github.com/phetsims/QA/issues/462 since speed query parameter doesn't seem to work there. Similar to https://github.com/phetsims/balancing-act/issues/43 but with a few extra steps.

In order to reproduce this in https://github.com/phetsims/QA/issues/473:
1. set speed slow with querry parameter
2. Drag an object

[2020-02-04 04:24] chrisklus commented on #111
I was able to reproduce the problem on my end before applying the patch (with a built version), and can confirm that the error is gone after applying the patch. I updated the patch to remove the lint error.

Do we need to discuss why query parameters may or may not need to be passed through before proceeding?

<details>

[code]

</details>

[2020-02-04 04:25] chrisklus commented on #111
Related to https://github.com/phetsims/phet-io-wrappers/issues/305

[2020-02-04 23:39] KatieWoe opened #114 "Mac Chrome metacog recording maybe? doesn't work"
For https://github.com/phetsims/QA/issues/473.
While doing the recording nothing seemed to indicate a problem. However, the file that I got had a time stamp of about 2.5 minutes (it was probably closer to 40 sec. When trying to watch it, the video skipped to the end of the 40 seconds and then froze.
![chromeosproblem](https://user-images.githubusercontent.com/41024075/73797274-d2fc1f80-476c-11ea-8

[2020-02-04 23:42] zepumph commented on #111
Nice find thank you!

I can't think of a good reason to pass through query parameters from the playback wrapper into the sim being played back. In fact, I know that in general we rely heavily and using the exact URL that was used when recording (which is saved in the data log's `simStarted` event. This is vital for obvious reasons (i.e. like making sure that the `?standford` QP is there when neede

[2020-02-04 23:46] zepumph commented on #114
These feel like likely symptoms of some dropped events, but I see that playback wrapper didn't mark them as such. Can you record a few more sessions with ChromeOS to see if it was a fluke with the session, or something more systemic to worry about?

[2020-02-04 23:50] KatieWoe commented on #114
Ok. I'm leaving a bit so I'll need to finish it up tomorrow. Sorry about that.

[2020-02-05 00:17] chrisklus commented on #111
Nice, that reasoning sounds great to me. I too was thinking that the query strings should match exactly like you said (and can't think of a reason why any would need to be added), so it's good to hear that this feature may have not been done for a specific reason and that you don't remember ever intentionally passing through additional sim QPs. Ready to close once that sha is added to GFL?

[2020-02-05 18:28] KatieWoe commented on #114
Looking at this again, I don't think it was ChromeOS. It looks like a Mac test I don't recognize. I just thought it the ChromeOS test because that was the last one I did. Looking at the tests from @lmulhall-phet there is one at the end from a Mac that has problems. I don't think there is a problem with ChromeOS from this info.
![sameproblem](https://user-images.githubusercontent.com/41024075/73871

[2020-02-05 18:30] zepumph commented on #114
Good to know thanks!

[2020-02-05 18:31] KatieWoe commented on #114
Not sure what is causing the problems we're seeing. Let me know if there is any testing you want done to narrow it down.

[2020-02-05 18:39] KatieWoe commented on #114
I do notice that any recordings that odd recordings seem to Mac Chrome?

[2020-02-05 19:55] kathy-phet commented on #114
@samreid - Can you update Karen on this - since Mac Chrome *is* the platform she is using?

[2020-02-05 20:35] samreid commented on #114
@chrisklus and @zepumph and I reviewed the file that @KatieWoe emailed, and found that:

* For session 24, there is a `browserTabVisibleProperty: false` after 2 seconds which changes back to true after around 40 seconds.  The playback wrapper doesn't know how to depict this, so it shows the time jump and pause.  But after that the playback continues nicely.  We could improve showing `browserTabVis

[2020-02-05 20:40] samreid commented on #114
We opened a new issue for the playback wrapper depicting "tabbing away", and it seems everything else in this issue has been addressed.  Closing.

[2020-02-05 20:40] #114 closed

[2020-02-05 23:04] chrisklus opened #115 "Republish 1.2.0 with studio dependency"
From https://github.com/phetsims/studio/issues/92.

[2020-02-06 00:35] chrisklus commented on #115
All set - we cherry picked the SHA from chipper that added studio to build.json (`348ef4d3679e1e02e4b7ee918ffb738a7ca22573`), then once studio was added as a dependency for the sim, we changed its SHA from master to a SHA from the same time that the rest of the dependencies were checked out (`f2dab9272a800b4200be2b40435a3a8c42573c6c`).

Published 1.2.1 here: https://phet-io.colorado.edu/sims/balan

[2020-02-06 00:35] #115 closed

[2020-02-17 16:19] KatieWoe opened #116 "CT impossible set state"
[code]

[2020-02-17 21:05] pixelzoom opened #117 "sim does not run in Studio with phetioValidateTandems"
Discovered while working on instrumentation of ABSwitch in https://github.com/phetsims/sun/issues/559.

Balancing Act does not run in Studio with `phetioValidateTandems`, it fails at startup with:

[code]

John Blanco replied via Slack:

[2020-02-17 21:15] pixelzoom commented on #117
Unclear whether this ever ran with `phetioValidateTandems`.  @jbphet wasn't involved in instrumentation, it was done by @samreid and @zepumph.

[2020-02-17 21:17] pixelzoom commented on #117
Slack:

Is there a list of sims that are expected to run with phetioValidateTandems?

testable-phet-io-validated

balancing-act is not in testable-phet-io-validated, so I'm guessing it never ran with `phetioValidateTandems`.

[2020-02-18 00:45] zepumph commented on #117
This sim is not supposed to run with `phetioValidateTandems`. I think this issue should be closed and work done over in https://github.com/phetsims/phet-io/issues/1622 to make sure there is an up to date list.

[2020-02-19 20:43] zepumph commented on #111
To test this on GFL, you can add a the queryParameter `?phetioDebug` when recording to a local file. (this will add the `?ea` query parameter to the sim`, then during playback (in the playback wrapper) add the `?ea` query parameter to the playback wrapper. In rc.1 this should fail, but it should be fixed in rc.2 and on master.

Thanks!

[2020-02-24 16:22] KatieWoe commented on #111
Looks good. Tested Win 10 chrome rc.2

[2020-02-24 19:11] #111 closed

[2020-02-25 15:38] KatieWoe commented on #116
[code]

[2020-02-28 22:23] jbphet commented on #113
I'm not sure why this is a valid test.  Is slow speed as a query parameter supposed to be supported by this sim?  Is this something new?  Is it specific to the 1.2 "special" version that was requested?  Does the problem exist on master?

@KatieWoe - please help me to understand why this was created and assigned to me.

[2020-02-28 22:26] KatieWoe commented on #113
I've gotten it to happen at normal speed, but it is much, much easier to reproduce with the query parameter. The slow speed query parameter gives you more time to do all the steps. It isn't new exactly. I noted that it was similar to https://github.com/phetsims/balancing-act/issues/43. I think this method is limited to the special version as it relies on the behavior when you take the supports out

[2020-02-28 22:27] KatieWoe commented on #113
I assigned you @jbphet since it was so similar to #43.

[2020-03-03 17:22] jbphet commented on #95
I made a number of modifications to drag handling, and it seems like the situation is improved.  I did not, however, change the creator nodes in the carousel to use event forwarding because of the amount of code that would need to change to accommodate this.  In order for event forwarding to work, the creator node has to have a way of obtaining the node that is created in the view, and it would ha

[2020-03-03 18:48] jonathanolson opened #118 "Troubles from 1.2 published for phet-io (but not phet brand)"
IIRC, it was decided that we wouldn't be skipping deploying the phet brand on shared branches. The website is reporting 1.1 latest for phet brand, and 1.2 latest for phet-io brand, leading to complications in the maintenance process, where most notably the normal deployment procedures can't be used (since it would deploy 1.2 phet-brand).

Is this planning on being resolved (1.2 being published wit

[2020-03-03 21:51] KatieWoe commented on #95
This still seems to occur, or something similar. If you do the above in a spot where it would go back to the toolbox, then move your finger above the balance then let go, you can get some of the more serious behavior from https://github.com/phetsims/balancing-act/issues/43. Sorry.
![funkyfly](https://user-images.githubusercontent.com/41024075/75823178-80f3ed00-5d5e-11ea-977e-065e7cd2937e.gif)
![mo

[2020-03-05 04:14] samreid commented on #118
My understanding from the conversation in https://github.com/phetsims/balancing-act/issues/105 was that we should publish 1.2 for phet-io brand only, and not phet brand.  @jonathanolson can you quantify this trouble this is causing?  Would you recommend the phet brand version be RC'd and published before the next maintenance release?  If we cannot afford to do that (say an imminent maintenance rel

[2020-03-05 17:50] jonathanolson commented on #118
I've patched the maintenance process above to handle this. It was treated as an "unreleased" branch since it was a greater version than the production phet-brand release. Now it's treated as "released, use the phet-io data".

If this is something that we generally should support, it shouldn't be difficult but I'll need to know. @ariel-phet thoughts?

[2020-03-06 21:09] KatieWoe opened #119 "State wrapper doesn't catch most actions/objects"
For ES6 Testing. Wondering if it is connected to https://github.com/phetsims/balancing-act/issues/116.
In the state wrapper, most actions, such as moving objects to the balance, setting ways of looking at position, switching out of the balance lab screen, etc. doesn't transfer.
![mostnotinstate](https://user-images.githubusercontent.com/41024075/76122761-1a680c80-5fb4-11ea-9d7a-1c1e4a22c59d.gif)

[2020-03-09 17:36] jbphet commented on #119
This is another case where I am the responsible developer for the sim, but have only been peripherally involved in the phet-io instrumentation effort.  The root issue for phet-io instrumentation is https://github.com/phetsims/balancing-act/issues/96 and is assigned to @samreid, so I will send this issue his way as well.

[2020-03-14 18:55] samreid commented on #119
This was not part of the recent development effort in #96, unassigning until work on this aspect resumes.

[2020-03-16 21:01] KatieWoe opened #120 "May be possible to get impossible game level"
**Test device**
Dell

**Operating System**
Win 10

**Browser**
IE

**Problem description**
Found during https://github.com/phetsims/chipper/issues/840, specifically in https://phet-dev.colorado.edu/html/balancing-act/1.2.0-dev.6/phet/balancing-act_en_phet.html
Seen only once on Level 2, last question. The object needs to be placed further out on the balance than is possible. When you use "show ans

[2020-03-17 01:37] ariel-phet commented on #118
@jonathanolson unfortunately, I think we will need to support this in general, as with all the client requests this will likely not be a unique case.

[2020-03-17 19:59] KatieWoe commented on #120
This example in level 4 isn't impossible to solve, but is impossible to balance, so solving may be more difficult than intended:
![Balancing Act screenshot](https://user-images.githubusercontent.com/41024075/76896493-8457a000-6857-11ea-8751-d92cf7a8f869.png)

[2020-03-18 19:03] pixelzoom opened #121 "convert model.txt and implementation-notes.txt to .md"
.md is the PhET standard for these files.

[2020-03-20 20:04] KatieWoe commented on #120
Same bug, on the same level. Graphical bug as well with the object placed at the end.
![Image from iOS](https://user-images.githubusercontent.com/41024075/77202278-a0f01400-6ab3-11ea-9100-f9c278edb00b.jpg)

[2020-03-23 15:00] KatieWoe commented on #116
[code]

[2020-03-23 19:39] zepumph commented on #116
State is not supported for this sim, and it is an expected error until we work on this sim again.

[2020-03-24 16:04] jbphet commented on #116
I'm not comfortable with this, since I'm the responsible dev for this sim, and as far as I know there is no plan to work on the sim again any time in the future.  That means that there will be CT failures for months, which would mask any *real* errors with the sim.  We should either have some easy way to turn off this test for a given sim or to stub out state support.

[2020-03-27 01:42] samreid commented on #116
At today's developer meeting, we talked about the need to remove certain tests or phet-io features from sims.  @zepumph was going to create a phet-io issue.

[2020-04-13 19:23] KatieWoe commented on #120
I just saw this same bug in level 3

[2020-05-21 17:58] jessegreenberg commented on #116
@zepumph if https://github.com/phetsims/phet-io/issues/1635 is resolved can this be closed?

[2020-05-21 17:59] zepumph commented on #116
We now have `perennial/data/phet-io-state-unsupported`, see https://github.com/phetsims/phet-io/issues/1635. Balancing Act is no longer tested for state. closing

[2020-05-21 17:59] #116 closed

[2020-05-21 21:40] samreid commented on #16
There are still TODOs marked for this issue, discovered during https://github.com/phetsims/chipper/issues/946

[2020-05-21 21:40] samreid commented on #99
There are still TODOs marked for this issue, discovered during https://github.com/phetsims/chipper/issues/946

[2020-05-22 15:07] samreid commented on #16
The TODO is not related to this issue, closing.

[2020-05-26 18:34] samreid commented on #99
Unassigning until we return focus to this sim.

[2020-06-11 21:55] samreid commented on #96
We delivered a version to the client, unassigning for now.

[2020-06-11 22:12] samreid commented on #108
This has been delivered to the client, closing.

[2020-06-11 22:12] #108 closed

[2020-06-11 22:12] samreid commented on #106
This has been delivered to the client, closing.

[2020-06-11 22:12] #106 closed

[2020-06-29 18:34] jbphet commented on #120
@KatieWoe - Could you please have someone test whether this is present in the currently published version?  It would help me to prioritize it.

[2020-06-29 20:07] KatieWoe commented on #120
Just did 10 play throughs of level 2 and 5 of level 3. Didn't see the issue in published. Can't guarantee it isn't in published, but it looks a bit less likely.

[2020-06-30 22:49] KatieWoe commented on #120
@loganbraywork looked at published too, with a few different platforms, and did not reproduce the issue there.

[2020-08-13 22:44] samreid opened #122 "For research study version based on 1.2.0 branch, remove all Mystery Objects except for Mystery Object G"
We received a request from our research partner:

Here is a patch that will likely accomplish this:

<details>

[code]

</details>

@kathy-phet can you please prioritize, indicate timeline and assign?  Next steps for this issue would be applying this patch in the 1.2.0 branch, republishing, testing (probably doesn't require QA) and redelivering.

[2020-08-13 23:57] samreid commented on #122
On slack, @kathy-phet asked me to work on this.

[2020-08-14 22:40] samreid commented on #122
I removed the other objects, and it seemed odd to have "G" in the middle of the present, so I removed the label as well.  That may mean the client needs to update their instructions.

[2020-08-14 23:35] samreid commented on #122
I published a new version with these changes, tested with the given query parameters, and recorded data.  Once the data comes back, it seems like this version can be shared with our collaborators.

[2020-08-14 23:57] samreid commented on #122
Metacog data came back and looked good, so I sent this version along to the collaborator, with this message:

[2020-08-14 23:57] #122 closed

[2020-11-03 17:40] jbphet commented on #120
Since the original testing was done on IE, which we no longer support, and since two testers were unable to reproduce this issue on other browsers, I'm going to close it.

[2020-11-03 17:45] KatieWoe commented on #120
https://github.com/phetsims/balancing-act/issues/120#issuecomment-601887665 was seen on Chrome. We haven't reproduced on published. But it is independent of browser.

[2020-11-03 17:48] jbphet commented on #120
Okay, thanks for pointing that out.  @KatieWoe - please assign to someone on the QA team to come up with a repeatable way to reproduce.  Otherwise it could take a lot of my time trying to track it down, and there are a lot of other higher priorities at the moment.

[2020-11-03 17:51] jbphet commented on #120
Actually, after giving this a little thought, I don't think there is a good way to reproduce, since the game is randomly driven.  I've got an idea for a different approach.

[2020-11-13 16:25] KatieWoe opened #123 "CT cannot read property transformMatrix of null"
[code]

[2020-11-19 00:59] jbphet commented on #123
This can be duplicated on an unbuilt version with a fuzz test, though it takes a while.  After examining the state and the stack, I found that the problem can be caused manually be the following sequence:

- Open the sim
- Select the "Balance Lab" screen
- From the PhET menu, select "Screenshot"

[2020-11-19 01:07] jbphet commented on #123
I was able to fix this by changing the value of the option of `buttonDisabledColor` from `null` to `Color.TRANSPARENT`.  I'm not sure why this worked or if it is indicative of a more general issue, but it definitely seems odd.  Assigning to @jonathanolson to have a look and decide if something else should be done, since this is related to Scenery rendering.

[2020-11-19 01:08] jbphet commented on #123
For reference, here's a stack trace of the issue before it was resolved when running from a non-built version:

[code]

[2020-11-19 18:22] jonathanolson commented on #123
It looks like ButtonNode has disabledColor (which this gets forwarded to) is documented as `// Color when disabled`, presumably it should be changed to support an arbitrary ColorDef.

[2020-11-19 18:25] jonathanolson commented on #123
My commit is stalling out (haven't debugged that, looks like hooks are messing up again). Changeset of this seems to work nicely:

[code]

[2020-11-19 18:31] jonathanolson commented on #123
Forced the commit with no verification. @jbphet does this look good?

[2020-11-24 00:11] jbphet commented on #123
Looks reasonable to me, and I changed the disabled color back to null in `MassCarousel`, and it worked fine.  Closing.

[2020-11-24 00:11] #123 closed

[2020-12-06 14:08] samreid opened #124 "Document why removal must be guarded, or remove the guard"
In https://github.com/phetsims/axon/issues/332 we removed the guard from createObservableArray removal methods.  I added a sim-specific guard in the following commit, but I'm not sure if it should be documented or eliminated.  Assigning to responsible dev to take a look:

https://github.com/phetsims/balancing-act/commit/6d57445c54070f0e0550fb3423e7f39ab8fae5b6

[2020-12-09 22:20] jbphet opened #125 "Convert to ES6"
This sim should be fully - or at least mostly - converted to ES6, especially with respect to using `class` instead of `inherit`.  See the parent issue https://github.com/phetsims/tasks/issues/1050 for more information.

[2020-12-10 00:26] jbphet commented on #124
The guard was there because the code wasn't properly removing a listener when masses were removed from the plank.  I fixed that, and removed the guard.  Should be good to go, closing.

[2020-12-10 00:26] #124 closed

[2020-12-10 00:26] jbphet commented on #125
Conversion complete, closing.

[2020-12-10 00:26] #125 closed

[2020-12-10 01:06] jbphet commented on #125
By the way, due to the pressure to complete the conversion of all sims, I was a little less thorough on this one than I have been on other sims, and there are usages of `self` scattered about within the code that we might want to clean up one day.

[2021-02-05 16:24] KatieWoe opened #126 "CT Item not found in Array"
[code]

[2021-02-06 00:33] jbphet commented on #126
To duplicate manually:

- go to the 2nd screen (Balance Lab)
- pull something out of the carousel with a finger, anything will do, but something big makes it easier
- drag the item to a location where it won't fall onto the plank when dropped
- with a second finger, do a zoom-in sort of maneuver on the dragged out thing, i.e. have two fingers on it and spread them out
- lift both fingers at once

[2021-02-09 16:56] pixelzoom commented on #126
In 2/4/21 dev meeting, we established that this is due to multi-touch fuzz testing (` ?fuzzPointers=2`) being enabled for https://github.com/phetsims/aqua/issues/106.  area-builder, balancing-act, fractions-equality, and fractions-intro are all experiencing this problem. So whoever works on this, please consider your fix in the context of all of these sims.

[2021-02-17 23:35] jbphet commented on #126
I replaced the old-style drag listener, based on `SimpleDragHandler`, with the updated `DragListener` throughout the sim and then changed the model element creator nodes to use event forwarding instead of having a separate drag listener.  After doing this, I can no longer duplicate the problem following the sequence described above, and several minutes of multi-touch fuzz testing runs with no prob

[2021-02-18 19:46] jbphet commented on #126
CT is clear.  I'm inclined to close, but @pixelzoom said:

The fix for this was essentially to update all the drag listeners to the latest and to use event forwarding for the "creator" pattern.  I'll mark this for a quick PSA in dev meeting in case it would be of benefit.

[2021-02-18 19:56] jbphet commented on #113
I think some of the work done for #126 and #43 may have fixed this issue due to the modifications made to drag handling.  @KatieWoe - please check and see whether this appears to be fixed on master.

[2021-02-18 20:03] jbphet commented on #43
@KatieWoe - Please have QA check to see if this is resolved on master.  If the issue is no longer reproducible, please close.  If something that is perhaps related but not the same, such as a multi-touch issue, please open a new one rather than continue the conversation here.

[2021-02-18 20:09] jbphet commented on #70
@KatieWoe - This is quite an old issue that was seen on iOS only.  Can you please see if it can be duplicated on any of the iOS devices that you have available and, if not, close?

[2021-02-18 21:35] KatieWoe commented on #95
This seems like it might be fixed along with #126 and #43 @jbphet

[2021-02-18 21:35] KatieWoe commented on #43
I wasn't able to reproduce on master

[2021-02-18 21:35] #43 closed

[2021-02-18 21:37] KatieWoe commented on #113
I wasn't able to reproduce in master, but as mentioned in https://github.com/phetsims/balancing-act/issues/113#issuecomment-592757786, this may be related to behavior that was specific to the version being tested at the time.

[2021-02-18 21:43] jbphet commented on #95
Indeed, and I was about to assign it back to you to verify.  You're way ahead of me.  Please check and, if this can no longer be duplicated, assign it back to me.  I'd like to redeploy a version with this fixed.

[2021-02-19 00:07] KatieWoe commented on #70
I don't see this on iPadOS 14 on master. Do you want other platforms tested/published tested?

[2021-02-19 16:50] jbphet commented on #70
No, I think the bug is old enough that if we're not seeing it on the latest iOS device and haven't had any other reports of it, it can be closed.

[2021-02-19 16:50] #70 closed

[2021-02-19 16:56] jbphet opened #127 "Redeploy from main branch"
There are a number of issues related to multi-touch that have been fixed for this sim.  The changes were fairly extensive, and took advantage of some updates to common code, so I'd like to redeploy from master rather than trying to propagate the changes to the release branch.

@samreid and @zepumph - You've done some work in this repo recently to create special test versions for some work that was

[2021-02-19 17:03] samreid commented on #127
Initial instrumentation for a client was done in https://github.com/phetsims/balancing-act/issues/96, and the custom version was delivered to a client in June 2020.  I don't believe the client will need any of the multi-touch fixes.  The changes should be safe for the PhET brand version.

In brief, I don't know any reason not to work on deploying PhET brand (but I don't remember how rigorous QA wa

[2021-02-19 17:44] KatieWoe commented on #95
Seems fixed on master

[2021-02-23 17:21] pixelzoom opened #128 "Use scenery-phet.SkyNode"
From https://github.com/phetsims/scenery-phet/issues/79#issue-44468162:

While working on correcting this problem, I noticed that balancing-act is not using SkyNode.  Should it be?

It currently has its own implementation, OutsideBackgroundNode.

[2021-02-25 20:21] pixelzoom commented on #126
2/25/21 dev meeting:

@jbphet gave a PSA, looks like it's applicable to fractions. Closing.

[2021-02-25 20:21] #126 closed

[2021-03-04 17:33] samreid commented on #100
It seems like no more work is required for this issue, closing.

[2021-03-04 17:33] #100 closed

[2021-03-12 21:36] jbphet commented on #128
@pixelzoom said:

`OutsideBackgroundNode` is, I believe, a common code node in scenery-phet that uses the aforementioned `scenery-phet.SkyNode` in conjunction with a `scenery-phet.GroundNode` to create a background with both ground and sky.  So, I'm thinking the implementation in balancing-act is fine as is.  My guess is that @pixelzoom didn't realize that `OutsideBackgroundNode` was a scenery-phe

[2021-03-12 21:52] pixelzoom commented on #128
Yeah, that must've been it.  Sorry for not digging deeper - for context, my quick review was for an ancient scenery-phet issue that I finally transferred to https://github.com/phetsims/fluid-pressure-and-flow/issues/335#issue-44468162.

Closing.

[2021-03-12 21:52] #128 closed

[2021-05-06 18:15] KatieWoe commented on #120
I saw this in https://github.com/phetsims/QA/issues/642, with https://phet-dev.colorado.edu/html/balancing-act/1.2.4-rc.1/phet-io/balancing-act_all_phet-io.html?phetioStandalone.  So it may be in published.
<img width="960" alt="impossiblelevel" src="https://user-images.githubusercontent.com/41024075/117346057-7fdbb580-ae64-11eb-814d-59e4cf54e03a.png">

[2021-05-06 18:38] KatieWoe opened #129 "Entering page in studio focuses on seemingly random element"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/642. Found in https://phet-dev.colorado.edu/html/balancing-act/1.2.4-rc.1/phet-io/wrappers/studio.
When working in studio, when you enter a page in the sim, the tree focus should move to the top level of that page. However, here it seems to focus on some other eleme

[2021-05-13 20:55] jonathanolson commented on #129
I don't have any idea on this one, doesn't seem general. I'm going to unassign and not handle it during this maintenance process.

[2021-05-17 21:01] jbphet commented on #129
@samreid and @zepumph - The balancing-act sim is a bit unique in that the phet-io instrumentation effort was done as a bit of a "rush job" to support a requested study, see #96 and #104.  I don't know at this point whether we are even providing Studio as part of this release, so I don't know how to evaluate the importance of fixing this GitHub issue.  I therefore need your input on it.  What would

[2021-05-17 21:15] samreid commented on #129
I'm not sure what explains this behavior, but it doesn't appear to be happening on master.  Perhaps it was a temporary bug that leaked into production.  In any case it doesn't seem severe or worth addressing in a maintenance release.  @jbphet thoughts?

[2021-05-18 15:23] jbphet commented on #129
It's hard for me to contribute much at this point given my current knowledge of the situation, so let me ask some specific questions:

- Has this sim been released to the general phet-io-using public in phet-io form, or has it only been released to the specific individuals who requested it in support of their study?
- If it has not been generally released, do we know whether the people who are usi

[2021-05-18 17:59] samreid commented on #129
Since balancing act is not mentioned in the PhET-iO links spreadsheet, I think that means it has not been shared to clients generally.

[2021-05-20 19:29] KatieWoe commented on #129
Saw this a bit in https://github.com/phetsims/QA/issues/649 in the graphing quadratics sim

[2021-05-31 20:56] samreid opened #130 "Provide a more specific stateSchema for Plank"
From https://github.com/phetsims/phet-io/issues/1774

[code]

[2021-06-14 23:23] jbphet commented on #103
I have updated the sim to use the common code version of ruler node.  The motivation for the copied `RulerNode` was that some browsers (I'm looking at you, Firefox) were not supporting rotation of text very well when this sim was first developed.  The text would tend to jump around on the ruler in a potentially distracting way as it rotated back and forth.  Rasterizing the text (i.e. turning it in

[2021-06-15 17:24] jbphet commented on #45
Reopening.  This branch was restored during an effort to recover some branches that were accidentally deleted.  This one had been _intentionally_ deleted, and now needs to be re-deleted.  See https://github.com/phetsims/special-ops/issues/198.

[2021-06-28 21:44] samreid commented on #129
Closing based on the recommendations above.

[2021-06-28 21:44] #129 closed

[2021-07-03 15:43] samreid commented on #16
Upon review, it seems the TODOs are related to this issue.  @jbphet do we still need the RasterizedTextNode workaround?

[2021-07-16 21:35] jbphet commented on #45
Re-deletion complete.  Closing.

[2021-07-16 21:35] #45 closed

[2021-08-02 20:15] jbphet commented on #16
I've removed the `RasterizedTextNode` workaround, tested a bit locally, and have enlisted the help of the QA team to test on all supported platforms, see https://github.com/phetsims/qa/issues/686.  I'll defer this issue until I hear back from QA.

[2021-08-26 22:10] samreid opened #131 "Publish a new release of 1.2 with a different mystery mass"
A collaborator requested switching the mystery object from G to H.  As mentioned in https://github.com/phetsims/balancing-act/issues/105#issuecomment-580006201, we will publish the phet-io brand without publishing the phet brand.

[2021-08-26 22:50] #131 closed, assigned to samreid

[2021-09-20 22:47] Nancy-Salpepi commented on #119
https://github.com/phetsims/qa/issues/708

While performing maintenance release testing, I noticed that this issue also occurred in studio. Here is the console error:

Uncaught Error: Assertion failed: api mismatches present:

balancingAct.balanceLabScreen.view.massCarousel.mysteryMassCreatorNode6:  5. When the sim is finished starting up, all non-dynamic schema entries must be registered.,
balanc

[2021-10-18 16:56] samreid opened #132 "Change the mass from 54kg to 55kg in the 1.2 research branch."
Today a research client requested that we Change the mass from 54kg to 55kg in the 1.2 research branch.

[2021-10-18 17:36] samreid commented on #132
Done and tested via 20x7+20x8+10x3=55x6, delivered to client.  I'll reopen if there are any problems.

[2021-10-18 17:36] #132 closed, assigned to samreid

[2021-11-19 17:56] markgammon opened #133 "Decide whether to turn off UI sounds on next publication"
As part of the work done for https://github.com/phetsims/vegas/issues/77, UI sounds got turned on for this simulation.  Before the sim is published again from master, we should decide whether to turn the UI sounds off, leave them on and design and implement sounds for the rest of the interactions, or publish with a partial sound design.

If the decision is to turn them off, this can be accomplishe

[2022-01-21 20:19] samreid opened #134 "Republish 1.2 with Mystery Object E"
We received this request:

The link shows 3 standard red blocks on page 1 and one mystery present on page 2.

[2022-01-21 20:29] samreid commented on #134
After switching to mystery block E, I published this new production version in the 1.2 branch:
https://phet-io.colorado.edu/sims/balancing-act/1.2.8/

[2022-01-21 20:45] samreid commented on #134
I shared this version with the client, closing.

[2022-01-21 20:45] #134 closed

[2022-01-25 22:22] jbphet commented on #120
I did some investigation on this, and found a problem with the code that explains at least some of the unsolvable challenges shown above.  The problem was that the code was using `Plank.length` instead of `Plank.LENGTH` in the method `BalanceGameChallengeFactory.getPossibleDistanceList`.  I don't know why, but `Plank.length`, which isn't defined at all in the simulation code, had a value of 5, whi

[2022-01-25 22:31] jbphet commented on #120
@KatieWoe - I found a subtle bug in the game code (see the comment above for details if you want them), and I think I have fixed it.  This is tricky to verify, since the code intentionally generates random challenges.  Here is what I suggest: Have QA test this on master by setting a fixed seed value and playing each level once, then repeat with a new seed value.  Do this for a while, and if the pr

[2022-01-25 23:35] KatieWoe commented on #120
Seeds|Pass or Fail
---|---
2869375299040842|Pass

[2022-02-21 17:39] Nancy-Salpepi commented on #120
Tested seeds 2869375299040843 to 2869375299040852. No issues.

[2022-02-22 17:46] jbphet commented on #16
I had QA test the master version with the "rasterized text" workaround removed, and it seems like the problem with strobing and aliasing still exists.  I'm not going to revert my changes just yet though.  Instead, I'll mark this issue as deferred, and the next time this sim is published from master we should take a little more time to re-evaluate and decide if we should revert the changes (and thu

[2022-02-23 20:08] KatieWoe commented on #120
QA is done

[2022-02-24 19:22] KatieWoe commented on #103
I believe this was addressed in https://github.com/phetsims/qa/issues/686 and determined not to be fixed. Removing the ready for qa label. @jbphet if I am mistaken and this is different let me know.

[2022-03-18 23:48] jbphet commented on #120
I've put out an RC for a maintenance release.  This will be a little tricky to verify, since the `randomSeed` query parameter that was used to test the fix is not available on the RC because the common code that it uses is quite old.  @KatieWoe - I think the only thing we can do here is have testers play the game a bunch and make sure that they never run into unsolvable challenges, or any other we

[2022-03-22 16:48] KatieWoe commented on #120
Nothing seen in https://github.com/phetsims/qa/issues/788

[2022-03-30 20:30] samreid commented on #120
I'm not aware of current usages of the 1.2 branch from the data researcher.  If they reach out to me for another session, I'll apprise them of this issue.

[2022-03-31 16:50] zepumph commented on #120
I would recommend closing this issue. We have not heard anything about this sim in quite some time, and I believe that all is well with their research (and it is complete since delivery in 02/2020). If needed, we can patch it with https://github.com/phetsims/balancing-act/commit/75fc086692d1b7883df474343e0612e69e287e2f.

[2022-03-31 20:30] jbphet commented on #120
Sounds good, thanks for your input.  Closing.

[2022-05-17 16:34] jbphet commented on #103
I removed the copy of the ruler node that rasterized the text,  and then had QA test it.  They said that there is now some noticeable strobing of the rotating text on some platforms, see https://github.com/phetsims/qa/issues/686.  It appears that the browsers that had the problem rendering rotated text before still have it, though perhaps to a lesser degree.

I'm reluctant to revert back to the co

[2022-10-06 16:22] pixelzoom opened #135 "Replace sim-specific code with LevelSelectionButtonGroup"
Related to https://github.com/phetsims/vegas/issues/108 ...

LevelSelectionButtonGroup is a new vegas UI component for creating the level-selection buttons for games.  It replaces boilerplate code in sims, and provides a consistent PhET-iO tandem structure.  Please convert this sim to use LevelSelectionButtonGroup.

[2022-10-06 22:03] zepumph opened #136 "Minor icon bug"
Looks like in https://github.com/phetsims/balancing-act/commit/1e67a1d4878e74697fddfed3a8ac6ca66805c5b8 we got two icons that both had columns.

![image](https://user-images.githubusercontent.com/6856943/194426884-6616c198-8a03-459f-9eeb-3c5e765dfe24.png)

Easy fix coming your way!

[2022-10-10 19:25] jbphet commented on #135
Deferring this until the next time this sim needs to be published from master.  At that point, this issue should be un-deferred and addressed.